openapi: 3.2.0
info:
  title: Jaskier Person Principal API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PersonPrincipal
paths:
  /api/v1/principal/person/profile:
    get:
      tags:
      - PersonPrincipal
      summary: Dane profilu aktualnie zalogowanej osoby
      operationId: principalProfile
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfilePrincipalResponse'
      security:
      - Authorization: []
    put:
      tags:
      - PersonPrincipal
      summary: Aktualizacja danych profilu zalogowanej osoby
      operationId: updatePrincipalProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePrincipalRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfilePrincipalResponse'
      security:
      - Authorization: []
    post:
      tags:
      - PersonPrincipal
      summary: Dodawanie profilu dla zalogowanej osoby
      operationId: addPrincipalProfile
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfilePrincipalResponse'
      security:
      - Authorization: []
  /api/v1/principal/person/profile/picture/upload:
    post:
      tags:
      - PersonPrincipal
      summary: Operacja nadpisuje plik jeśli został wcześniej dodany
      operationId: uploadPrincipalProfilePicture
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/principal/person:
    get:
      tags:
      - PersonPrincipal
      summary: Dane aktualnie zalogowanej osoby
      operationId: principal
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PersonPrincipalResponse'
      security:
      - Authorization: []
  /api/v1/principal/person/profile/picture/download:
    get:
      tags:
      - PersonPrincipal
      operationId: downloadPrincipalProfilePicture
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
      summary: Download principal profile picture
      x-summary-source: derived
  /api/v1/principal/person/permissions:
    get:
      tags:
      - PersonPrincipal
      summary: Uprawnienia aktualnie zalogowanej osoby
      operationId: principalPermissions
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  uniqueItems: true
                  type: array
                  items:
                    type: string
      security:
      - Authorization: []
  /api/v1/principal/person/permissions/objectType/{objectType}/object/{id}:
    get:
      tags:
      - PersonPrincipal
      summary: Uprawnienia aktualnie zalogowanej osoby
      operationId: principalPermissionsForObject
      parameters:
      - name: objectType
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACHIEVEMENTS_SUMMARY
          - ADMIN
          - ARTICLE
          - ASSET
          - BUILDING
          - BUILDING_ACCESSIBILITY
          - BUILDING_ATTRIBUTE
          - BUILDING_BON
          - BUILDING_PATH_OBJECT_TYPE
          - BUILDING_PUBLIC
          - BUSINESS_ENTITY
          - CAMPUS
          - COURSE
          - COURSE_REGISTRATION_INFO
          - CURRENCY
          - EVENT
          - FAQ
          - GIVEAWAY
          - ITEM_USED
          - IT_SERVICE
          - LABORATORY
          - LABORATORY_TYPE
          - LEGAL_BASIS
          - LICENSE
          - MOBILITY_OPTION
          - MAGAZINE
          - MONOGRAPH_PUBLISHER
          - FRAMEWORK_AGREEMENT
          - HOUSING_OPTION
          - PATENT
          - PASS_CONTROL
          - PASS_CONTROL_PUBLIC
          - PASS_CONTROL_DICTIONARY
          - PERMISSION
          - PERM_DEPARTMENT_PERSON
          - PERM_DEPARTMENT_CAS_ROLE
          - PERSON
          - PERSON_ID_CARD
          - PHONE_NUMBER
          - PROFILE
          - PROFILE_PUBLIC
          - PROFILE_MYUW
          - PERSON_PROFILE_MYUW
          - PROJECT
          - PROJECT_PUBLIC
          - PROJECT_MIGRATION
          - PROJECT_DICTIONARY
          - PROJECT_PROGRAM
          - PROJECT_INTERNATIONAL
          - PROJECT_PROGRAM_DETAILED
          - PROJECT_PROGRAM_CONTRACT
          - PROJECT_TYPE
          - PROJECT_REPORT
          - PSP_ELEMENT
          - PUBLICATION
          - PUBLICATION_VENUE
          - RESEARCH_SET
          - PERSON_SYSTEM_ROLE
          - PERSON_SYSTEM_ROLE_API
          - SAP_OBJECT_ACCESS
          - SYSTEM_ROLE
          - PUBLIC_PROCUREMENT_PLAN
          - PUBLIC_PROCUREMENT_PLAN_CATEGORY
          - SAP_ROLE
          - STUDENT_ORGANIZATION
          - TRANSLATION
          - TRANSLATION_CATEGORY
          - TUTORIAL
          - UNIVERSITY_INFO
          - UW_ECONOMIC_DEPARTMENT
          - UW_PERSON
          - UW_PERSON_EMPLOYEE_DATA
          - UW_UNIT
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  type: string
      security:
      - Authorization: []
  /api/v1/principal/person/authenticated:
    get:
      tags:
      - PersonPrincipal
      summary: Czy jestem uwierzytelniony jako osoba?
      operationId: isAuthenticated
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
      security:
      - Authorization: []
  /api/v1/principal/person/profile/picture:
    delete:
      tags:
      - PersonPrincipal
      operationId: removePrincipalProfilePicture
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
      summary: Remove principal profile picture
      x-summary-source: derived
components:
  schemas:
    ProfilePrincipalResponse:
      type: object
      properties:
        id:
          type: string
        publicId:
          type: string
        name:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        emails:
          type: array
          items:
            type: string
        phone:
          type: string
        personId:
          type: string
        degree:
          type: string
        isPubliclyVisible:
          type: boolean
        units:
          type: array
          items:
            $ref: '#/components/schemas/UnitPreviewResponse'
    PersonPrincipalResponse:
      type: object
      properties:
        personId:
          type: string
        familyName:
          type: string
        email:
          type: string
        givenName:
          type: string
        units:
          type: array
          items:
            $ref: '#/components/schemas/UnitPreviewResponse'
    UnitPreviewResponse:
      type: object
      properties:
        code:
          type: string
        namePl:
          type: string
        nameEn:
          type: string
    ProfilePrincipalRequest:
      required:
      - emails
      - name
      type: object
      properties:
        name:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        emails:
          uniqueItems: true
          type: array
          items:
            type: string
        phone:
          type: string
        degree:
          type: string
        isPubliclyVisible:
          type: boolean
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
