openapi: 3.2.0
info:
  title: University Of Warsaw Tutorial API
  version: '1.0'
  description: 'Operations tagged Tutorial across 2 of this provider''s published API definitions: university-of-warsaw-jaskier-api.json, university-of-warsaw-sp4eu-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.jaskier.uw.edu.pl
- url: https://api.sp4eu.uw.edu.pl
tags:
- name: Tutorial
paths:
  /api/v1/Tutorial/{tutorialId}:
    get:
      tags:
      - Tutorial
      summary: Czytanie informacji o tutorialu z podanym id
      operationId: getTutorialById
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TutorialResponse'
      security:
      - Authorization: []
    put:
      tags:
      - Tutorial
      summary: Aktualizacja tutorialu
      operationId: updateTutorial
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TutorialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TutorialResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - Tutorial
      summary: Usuwanie tutorialu z powiązannymi relacjami
      operationId: removeTutorial
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
    servers:
    - url: https://api.jaskier.uw.edu.pl
  /api/v1/Tutorial/{tutorialId}/Abstract:
    get:
      tags:
      - Tutorial
      summary: Lista abstraktów dla danego tutorialu
      operationId: getTutorialAbstracts
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbstractResponse'
      security:
      - Authorization: []
    put:
      tags:
      - Tutorial
      summary: Dodawanie abstraktu do tutorialu
      operationId: addTutorialAbstract
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbstractRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractResponse'
      security:
      - Authorization: []
    servers:
    - url: https://api.jaskier.uw.edu.pl
  /api/v1/Tutorial:
    get:
      tags:
      - Tutorial
      summary: Listowanie danych o tutorialach (z paginacją - odata)
      operationId: queryForTutorials
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
          default: creationTime desc
      - name: $filter
        in: query
        required: false
        schema:
          type: string
          default: ()
      - name: isPublished
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponseQueryTutorialItemResponse'
      security:
      - Authorization: []
    post:
      tags:
      - Tutorial
      summary: Dodawanie tutorialu
      operationId: addTutorial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TutorialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TutorialResponse'
      security:
      - Authorization: []
    servers:
    - url: https://api.jaskier.uw.edu.pl
  /api/v1/Tutorial/{tutorialId}/Abstract/{cfAbstrId}:
    post:
      tags:
      - Tutorial
      summary: Aktualizacja abstraktu dla tutorialu
      operationId: updateTutorialAbstract
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      - name: cfAbstrId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbstractRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - Tutorial
      summary: Usunięcie abstraktu dla tutorialu
      operationId: removeTutorialAbstract
      parameters:
      - name: tutorialId
        in: path
        required: true
        schema:
          type: string
      - name: cfAbstrId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
    servers:
    - url: https://api.jaskier.uw.edu.pl
  /api/v1/Tutorial/All:
    get:
      tags:
      - Tutorial
      summary: Listowanie danych o tutorialach
      operationId: findAll
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryTutorialItemResponse'
      security:
      - Authorization: []
    servers:
    - url: https://api.jaskier.uw.edu.pl
  /api/v1/Tutorial/{id}:
    get:
      tags:
      - Tutorial
      summary: Pobranie danych o tutorialu o podanym id
      operationId: getTutorialById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Sp4euTutorialResponse'
      security:
      - Authorization: []
    servers:
    - url: https://api.sp4eu.uw.edu.pl
components:
  schemas:
    AbstractRequest:
      required:
      - keyw
      type: object
      properties:
        id:
          type: string
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          maxItems: 100
          minItems: 0
          uniqueItems: true
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        orderIndex:
          minimum: 0
          type: integer
          description: 'kolejność wyświetlania abstraktów (domyślnie: 0)'
          format: int32
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
    OdataResponseQueryTutorialItemResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QueryTutorialItemResponse'
        totalCount:
          type: integer
          format: int32
    QueryTutorialItemResponse:
      type: object
      properties:
        tutorialId:
          type: string
          description: id tutorialu (musi być unikalne w skali całego rejestru)
        tutorialCode:
          type: string
          description: kod tutorialu (musi być unikalne w skali całego rejestru)
        isPublished:
          type: boolean
          description: czy tutorial powinien być dostępny w ofercie 4eu plus alliance?
        providedBy:
          type: array
          description: lista uczelni zaangażowanych w dostarczenie tutorialu
          items:
            type: string
            description: lista uczelni zaangażowanych w dostarczenie tutorialu
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          description: nazwa uczelni, która opublikowała informację o tutorialu
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        creationTime:
          type: string
          description: Czas utworzenia
          format: date-time
        title:
          type: string
          description: Tytuł tutorialu
        category:
          type: string
          description: kategoria tematyki, której dotyczy tutorial
          enum:
          - SelfOrganization
          - OnlineLearning
          - CulturalAwareness
          - GroupDynamics
          - HandlingConflicts
        languages:
          type: array
          description: lista języków, w których dostępny jest tutorial
          items:
            type: string
            description: lista języków, w których dostępny jest tutorial
        level:
          type: string
          description: poziom zaawansowania tutorialu
          enum:
          - BASIC
          - MEDIUM
          - ADVANCED
        duration:
          type: string
          description: czas trwania tutorialu
        url:
          type: string
          description: link do tutorialu
        isFree:
          type: boolean
          description: czy tutorial jest darmowy
        description:
          type: string
          description: Opis tutorialu
      description: Podstawowe informacje o kursie
    TutorialResponse:
      type: object
      properties:
        tutorialId:
          type: string
          description: id tutorialu (musi być unikalne w skali całego rejestru)
        tutorialCode:
          type: string
          description: kod tutorialu (musi być unikalne w skali całego rejestru)
        isPublished:
          type: boolean
          description: czy tutorial powinien być dostępny w ofercie 4eu plus alliance?
        providedBy:
          type: array
          description: lista uczelni zaangażowanych w dostarczenie tutorialu
          items:
            type: string
            description: lista uczelni zaangażowanych w dostarczenie tutorialu
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          description: nazwa uczelni, która opublikowała informację o tutorialu
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        creationTime:
          type: string
          description: Czas utworzenia
          format: date-time
        title:
          type: string
          description: Tytuł tutorialu
        category:
          type: string
          description: kategoria tematyki, której dotyczy tutorial
          enum:
          - SelfOrganization
          - OnlineLearning
          - CulturalAwareness
          - GroupDynamics
          - HandlingConflicts
        languages:
          type: array
          description: lista języków, w których dostępny jest tutorial
          items:
            type: string
            description: lista języków, w których dostępny jest tutorial
        level:
          type: string
          description: poziom zaawansowania tutorialu
          enum:
          - BASIC
          - MEDIUM
          - ADVANCED
        duration:
          type: string
          description: czas trwania tutorialu
        url:
          type: string
          description: link do tutorialu
        isFree:
          type: boolean
          description: czy tutorial jest darmowy
        description:
          type: string
          description: Opis tutorialu
      description: Informacje o tutorialu
    AbstractResponse:
      type: object
      properties:
        id:
          type: string
          description: Id abstraltu
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        orderIndex:
          type: integer
          description: 'kolejność wyświetlania abstraktów (domyślnie: 0)'
          format: int32
        objectId:
          type: string
          description: Id obiektu
        objectType:
          type: string
          description: Typ obiektu
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
    TutorialRequest:
      required:
      - category
      - languages
      - level
      - providedBy
      - publishedBy
      type: object
      properties:
        tutorialCode:
          type: string
          description: kod tutorialu (musi być unikalne w skali całego rejestru)
        isPublished:
          type: boolean
          description: czy tutorial powinien być dostępny w ofercie 4eu plus alliance?
        providedBy:
          type: array
          description: lista uczelni zaangażowanych w dostarczenie tutorialu
          items:
            type: string
            description: lista uczelni zaangażowanych w dostarczenie tutorialu
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          description: nazwa uczelni, która opublikowała informację o tutorialu
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        title:
          type: string
          description: Tytuł tutorialu
        category:
          type: string
          description: kategoria tematyki, której dotyczy tutorial
          enum:
          - SelfOrganization
          - OnlineLearning
          - CulturalAwareness
          - GroupDynamics
          - HandlingConflicts
        languages:
          uniqueItems: true
          type: array
          description: Język, w którym dostępny jest tutorial
          items:
            type: string
            description: Język, w którym dostępny jest tutorial
        level:
          type: string
          description: poziom zaawansowania tutorialu
          enum:
          - BASIC
          - MEDIUM
          - ADVANCED
        duration:
          maxLength: 32
          minLength: 0
          type: string
          description: czas trwania tutorialu
        url:
          type: string
          description: link do tutorialu
        isFree:
          type: boolean
          description: czy tutorial jest darmowy
        description:
          type: string
          description: Opis tutorialu
    Sp4euTutorialResponse:
      type: object
      properties:
        tutorialId:
          type: string
        tutorialCode:
          type: string
        isPublished:
          type: boolean
        providedBy:
          type: array
          items:
            type: string
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        creationTime:
          type: string
        title:
          type: string
        category:
          type: string
          enum:
          - SelfOrganization
          - OnlineLearning
          - CulturalAwareness
          - GroupDynamics
          - HandlingConflicts
        languages:
          type: array
          items:
            type: string
        level:
          type: string
          enum:
          - BASIC
          - MEDIUM
          - ADVANCED
        duration:
          type: string
        url:
          type: string
        isFree:
          type: boolean
        description:
          type: string
        cfTitle:
          type: string
          deprecated: true
        cfKeyw:
          type: array
          deprecated: true
          items:
            type: string
            deprecated: true
    OdataResponseQueryTutorialItemSp4euResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QueryTutorialItemSp4euResponse'
        totalCount:
          type: integer
          format: int32
    QueryTutorialItemSp4euResponse:
      type: object
      properties:
        tutorialId:
          type: string
        tutorialCode:
          type: string
        isPublished:
          type: boolean
        providedBy:
          type: array
          items:
            type: string
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        creationTime:
          type: string
        title:
          type: string
        category:
          type: string
          enum:
          - SelfOrganization
          - OnlineLearning
          - CulturalAwareness
          - GroupDynamics
          - HandlingConflicts
        languages:
          type: array
          items:
            type: string
        level:
          type: string
          enum:
          - BASIC
          - MEDIUM
          - ADVANCED
        duration:
          type: string
        url:
          type: string
        isFree:
          type: boolean
        description:
          type: string
        cfTitle:
          type: string
          deprecated: true
        cfKeyw:
          type: array
          deprecated: true
          items:
            type: string
            deprecated: true
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- university-of-warsaw-jaskier-api.json
- university-of-warsaw-sp4eu-api.json
