openapi: 3.2.0
info:
  title: Jaskier Project International Detail API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ProjectInternationalDetail
paths:
  /api/v1/ProjectInternationalDetail/{id}:
    get:
      tags:
      - ProjectInternationalDetail
      summary: Czytanie szczegółow projektu międzynarodowego
      operationId: getProjectInternationalDetail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectInternationalDetailResponse'
      security:
      - Authorization: []
    put:
      tags:
      - ProjectInternationalDetail
      summary: Aktualizacja szczegółow projektu międzynarodowego
      operationId: updateProjectInternationalDetail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInternationalDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectInternationalDetailResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - ProjectInternationalDetail
      summary: Usunięcie szczegółow projektu międzynarodowego, jeśli żadne projekt nie jest…
      operationId: removeProjectInternationalDetail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ProjectInternationalDetail:
    get:
      tags:
      - ProjectInternationalDetail
      summary: Listowanie szczegółow projektu międzynarodowego
      operationId: queryForProjectInternationalDetail
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectInternationalDetailResponse'
      security:
      - Authorization: []
    post:
      tags:
      - ProjectInternationalDetail
      summary: Dodawanie typu projektu
      operationId: addProjectInternationalDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInternationalDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectInternationalDetailResponse'
      security:
      - Authorization: []
  /api/v1/ProjectInternationalDetail/Rearrange:
    post:
      tags:
      - ProjectInternationalDetail
      summary: Zmiana kolejności wpisów
      operationId: rearrangeProjectInternationalDetails
      requestBody:
        description: Lista wszystkich id w nowej kolejności
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
components:
  schemas:
    ProjectInternationalDetailResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      description: Informacje o programie projektu
    ProjectInternationalDetailRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
