openapi: 3.2.0
info:
  title: Jaskier Project Program API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ProjectProgram
paths:
  /api/v1/ProjectProgram/{id}:
    get:
      tags:
      - ProjectProgram
      summary: Czytanie programu projektu
      operationId: getProjectProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramResponse'
      security:
      - Authorization: []
    put:
      tags:
      - ProjectProgram
      summary: Aktualizacja programu projektu
      operationId: updateProjectProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectProgramRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - ProjectProgram
      summary: Usunięcie programu projektu
      operationId: removeProjectProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ProjectProgram:
    get:
      tags:
      - ProjectProgram
      summary: Listowanie szczegółów programów projektów
      operationId: queryForProjectProgram
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectProgramResponse'
      security:
      - Authorization: []
    post:
      tags:
      - ProjectProgram
      summary: Dodawanie programu projektu
      operationId: addProjectProgram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectProgramRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramResponse'
      security:
      - Authorization: []
  /api/v1/ProjectProgram/Rearrange:
    post:
      tags:
      - ProjectProgram
      summary: Zmiana kolejności wpisów
      operationId: rearrangeProjectPrograms
      requestBody:
        description: Lista wszystkich id w nowej kolejności
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
components:
  schemas:
    ProjectProgramRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
    ProjectProgramResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      description: Informacje o programie projektu
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
