openapi: 3.2.0
info:
  title: Jaskier Housing Options Sp4eu API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: HousingOptionsSp4eu
paths:
  /api/v1/Sp4eu/HousingOptions:
    get:
      tags:
      - HousingOptionsSp4eu
      summary: Listowanie danych o opcjach mieszkaniowych (z paginacją - odata)
      operationId: queryForHousingOptions4eu
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
          default: allpages
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        schema:
          type: string
          default: ()
      - name: showOnlyPublished
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponseHousingOptionsResponse'
      security:
      - Authorization: []
    post:
      tags:
      - HousingOptionsSp4eu
      summary: Dodawanie opcji mieszkaniowych
      operationId: addHousingOptions4eu
      parameters:
      - name: personId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HousingOptionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HousingOptionsResponse'
      security:
      - Authorization: []
  /api/v1/Sp4eu/HousingOptions/{publicId}/File/Upload:
    post:
      tags:
      - HousingOptionsSp4eu
      summary: Upload pliku
      operationId: uploadHousingOptionFile4eu
      parameters:
      - name: publicId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                - 100 CONTINUE
                - 101 SWITCHING_PROTOCOLS
                - 102 PROCESSING
                - 103 EARLY_HINTS
                - 103 CHECKPOINT
                - 200 OK
                - 201 CREATED
                - 202 ACCEPTED
                - 203 NON_AUTHORITATIVE_INFORMATION
                - 204 NO_CONTENT
                - 205 RESET_CONTENT
                - 206 PARTIAL_CONTENT
                - 207 MULTI_STATUS
                - 208 ALREADY_REPORTED
                - 226 IM_USED
                - 300 MULTIPLE_CHOICES
                - 301 MOVED_PERMANENTLY
                - 302 FOUND
                - 302 MOVED_TEMPORARILY
                - 303 SEE_OTHER
                - 304 NOT_MODIFIED
                - 305 USE_PROXY
                - 307 TEMPORARY_REDIRECT
                - 308 PERMANENT_REDIRECT
                - 400 BAD_REQUEST
                - 401 UNAUTHORIZED
                - 402 PAYMENT_REQUIRED
                - 403 FORBIDDEN
                - 404 NOT_FOUND
                - 405 METHOD_NOT_ALLOWED
                - 406 NOT_ACCEPTABLE
                - 407 PROXY_AUTHENTICATION_REQUIRED
                - 408 REQUEST_TIMEOUT
                - 409 CONFLICT
                - 410 GONE
                - 411 LENGTH_REQUIRED
                - 412 PRECONDITION_FAILED
                - 413 PAYLOAD_TOO_LARGE
                - 413 REQUEST_ENTITY_TOO_LARGE
                - 414 URI_TOO_LONG
                - 414 REQUEST_URI_TOO_LONG
                - 415 UNSUPPORTED_MEDIA_TYPE
                - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                - 417 EXPECTATION_FAILED
                - 418 I_AM_A_TEAPOT
                - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                - 420 METHOD_FAILURE
                - 421 DESTINATION_LOCKED
                - 422 UNPROCESSABLE_ENTITY
                - 423 LOCKED
                - 424 FAILED_DEPENDENCY
                - 425 TOO_EARLY
                - 426 UPGRADE_REQUIRED
                - 428 PRECONDITION_REQUIRED
                - 429 TOO_MANY_REQUESTS
                - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                - 500 INTERNAL_SERVER_ERROR
                - 501 NOT_IMPLEMENTED
                - 502 BAD_GATEWAY
                - 503 SERVICE_UNAVAILABLE
                - 504 GATEWAY_TIMEOUT
                - 505 HTTP_VERSION_NOT_SUPPORTED
                - 506 VARIANT_ALSO_NEGOTIATES
                - 507 INSUFFICIENT_STORAGE
                - 508 LOOP_DETECTED
                - 509 BANDWIDTH_LIMIT_EXCEEDED
                - 510 NOT_EXTENDED
                - 511 NETWORK_AUTHENTICATION_REQUIRED
      security:
      - Authorization: []
  /api/v1/Sp4eu/HousingOptions/{publicId}:
    get:
      tags:
      - HousingOptionsSp4eu
      summary: Czytanie informacji o opcjach mieszkaniowych z podanym id
      operationId: getHousingOption4euById
      parameters:
      - name: publicId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HousingOptionsResponse'
      security:
      - Authorization: []
  /api/v1/Sp4eu/HousingOptions/{publicId}/File:
    get:
      tags:
      - HousingOptionsSp4eu
      summary: Pobieranie plików opcji mieszkaniowych
      operationId: getHousingOptionFiles4eu
      parameters:
      - name: publicId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HousingOptionFileResponse'
      security:
      - Authorization: []
  /api/v1/Sp4eu/HousingOptions/{publicId}/File/{housingOptionFileId}/Download:
    get:
      tags:
      - HousingOptionsSp4eu
      summary: Pobranie pliku
      operationId: downloadHousingOptionFile4eu
      parameters:
      - name: publicId
        in: path
        required: true
        schema:
          type: string
      - name: housingOptionFileId
        in: path
        required: true
        schema:
          type: string
      - name: typeEnum
        in: query
        required: false
        schema:
          type: string
          default: LARGE
          enum:
          - LARGE
          - MEDIUM
          - SMALL
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/Sp4eu/HousingOptions/Person:
    get:
      tags:
      - HousingOptionsSp4eu
      summary: Listowanie danych o opcjach mieszkaniowych (z paginacją - odata)
      operationId: queryForPersonHousingOptions4eu
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        schema:
          type: string
          default: ()
      - name: personId
        in: query
        required: true
        schema:
          type: string
      - name: showOnlyPublished
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponseHousingOptionsResponse'
      security:
      - Authorization: []
components:
  schemas:
    HousingOptionFileResponse:
      type: object
      properties:
        housingOptionFileId:
          type: string
        housingOptionId:
          type: string
        fileId:
          type: string
        extension:
          type: string
        name:
          type: string
        uploadedDate:
          type: string
          format: date-time
    HousingOptionsRequest:
      required:
      - publishedBy
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        phone:
          type: string
        email:
          type: string
        co:
          type: string
        street:
          type: string
        postcode:
          type: string
        city:
          type: string
        district:
          type: string
        countryCode:
          type: string
        size:
          type: number
          format: double
        accommodationType:
          type: string
          enum:
          - FAMILY
          - PRIVATE_APARTMENT
          - SHARED_APARTMENT
        bathroomType:
          type: string
          enum:
          - SHARED
          - PRIVATE_BATHROOM
          - PRIVATE_SHOWER
          - WASHBASIN
        kitchenType:
          type: string
          enum:
          - SHARED
          - PRIVATE
          - COOKING_FACILITIES
        furnitureType:
          type: string
          enum:
          - FURNISHED
          - PARTLY_FURNISHED
          - NOT_FURNISHED
        washingMachineType:
          type: string
          enum:
          - SHARED
          - PRIVATE
          - NO_WASHING
        connections:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - COST_INCLUDED
            - CONNECTION_PROVIDED
        distance:
          type: string
          enum:
          - LESS_5_MIN
          - APPROX_10
          - APPROX_15
          - APPROX_20
          - APPROX_30
          - APPROX_45
          - EQUAL_OR_MORE_60_MIN
        rent:
          type: number
        utilities:
          type: number
        totalRent:
          type: number
        deposit:
          type: number
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        description:
          maxLength: 5000
          minLength: 0
          type: string
        remarks:
          maxLength: 5000
          minLength: 0
          type: string
        currencyCode:
          type: string
        publishedBy:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        numberOfRoommates:
          type: integer
          format: int32
        attributes:
          type: array
          items:
            type: string
        publish:
          type: boolean
      description: opcje mieszkaniowe
    OdataResponseHousingOptionsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HousingOptionsResponse'
        totalCount:
          type: integer
          format: int32
    HousingOptionsResponse:
      type: object
      properties:
        id:
          type: string
        publicId:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        phone:
          type: string
        email:
          type: string
        co:
          type: string
        street:
          type: string
        postcode:
          type: string
        city:
          type: string
        district:
          type: string
        countryCode:
          type: string
        size:
          type: number
          format: double
        accommodationType:
          type: string
          enum:
          - FAMILY
          - PRIVATE_APARTMENT
          - SHARED_APARTMENT
        bathroomType:
          type: string
          enum:
          - SHARED
          - PRIVATE_BATHROOM
          - PRIVATE_SHOWER
          - WASHBASIN
        kitchenType:
          type: string
          enum:
          - SHARED
          - PRIVATE
          - COOKING_FACILITIES
        furnitureType:
          type: string
          enum:
          - FURNISHED
          - PARTLY_FURNISHED
          - NOT_FURNISHED
        washingMachineType:
          type: string
          enum:
          - SHARED
          - PRIVATE
          - NO_WASHING
        connections:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - COST_INCLUDED
            - CONNECTION_PROVIDED
        numberOfRoommates:
          type: integer
          format: int32
        distance:
          type: string
          enum:
          - LESS_5_MIN
          - APPROX_10
          - APPROX_15
          - APPROX_20
          - APPROX_30
          - APPROX_45
          - EQUAL_OR_MORE_60_MIN
        rent:
          type: number
        utilities:
          type: number
        totalRent:
          type: number
        deposit:
          type: number
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        description:
          type: string
        remarks:
          type: string
        currencyCode:
          type: string
        publishedBy:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        publicationDate:
          type: string
          format: date
        personId:
          type: string
        attributes:
          type: array
          items:
            type: string
        publish:
          type: boolean
      description: opcje mieszkaniowe
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
