openapi: 3.2.0
info:
  title: Jaskier Analysis API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: Analysis
paths:
  /api/v1/Analysis:
    post:
      tags:
      - Analysis
      summary: Lista wszystkich komunikatów
      operationId: calculateQuantity
      parameters:
      - name: publicRecords
        in: query
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
      security:
      - Authorization: []
  /api/v1/Analysis/Public:
    post:
      tags:
      - Analysis
      summary: Lista wszystkich komunikatów
      operationId: calculateQuantity_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: integer
                  format: int32
      security:
      - Authorization: []
components:
  schemas:
    CountRequest:
      type: object
      properties:
        objectTypes:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - ACHIEVEMENTS_SUMMARY
            - ADMIN
            - ARTICLE
            - ASSET
            - BUILDING
            - BUILDING_ACCESSIBILITY
            - BUILDING_ATTRIBUTE
            - BUILDING_BON
            - BUILDING_PATH_OBJECT_TYPE
            - BUILDING_PUBLIC
            - BUSINESS_ENTITY
            - CAMPUS
            - COURSE
            - COURSE_REGISTRATION_INFO
            - CURRENCY
            - EVENT
            - FAQ
            - GIVEAWAY
            - ITEM_USED
            - IT_SERVICE
            - LABORATORY
            - LABORATORY_TYPE
            - LEGAL_BASIS
            - LICENSE
            - MOBILITY_OPTION
            - MAGAZINE
            - MONOGRAPH_PUBLISHER
            - FRAMEWORK_AGREEMENT
            - HOUSING_OPTION
            - PATENT
            - PASS_CONTROL
            - PASS_CONTROL_PUBLIC
            - PASS_CONTROL_DICTIONARY
            - PERMISSION
            - PERM_DEPARTMENT_PERSON
            - PERM_DEPARTMENT_CAS_ROLE
            - PERSON
            - PERSON_ID_CARD
            - PHONE_NUMBER
            - PROFILE
            - PROFILE_PUBLIC
            - PROFILE_MYUW
            - PERSON_PROFILE_MYUW
            - PROJECT
            - PROJECT_PUBLIC
            - PROJECT_MIGRATION
            - PROJECT_DICTIONARY
            - PROJECT_PROGRAM
            - PROJECT_INTERNATIONAL
            - PROJECT_PROGRAM_DETAILED
            - PROJECT_PROGRAM_CONTRACT
            - PROJECT_TYPE
            - PROJECT_REPORT
            - PSP_ELEMENT
            - PUBLICATION
            - PUBLICATION_VENUE
            - RESEARCH_SET
            - PERSON_SYSTEM_ROLE
            - PERSON_SYSTEM_ROLE_API
            - SAP_OBJECT_ACCESS
            - SYSTEM_ROLE
            - PUBLIC_PROCUREMENT_PLAN
            - PUBLIC_PROCUREMENT_PLAN_CATEGORY
            - SAP_ROLE
            - STUDENT_ORGANIZATION
            - TRANSLATION
            - TRANSLATION_CATEGORY
            - TUTORIAL
            - UNIVERSITY_INFO
            - UW_ECONOMIC_DEPARTMENT
            - UW_PERSON
            - UW_PERSON_EMPLOYEE_DATA
            - UW_UNIT
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
