openapi: 3.2.0
info:
  title: Jaskier Magazine Migration API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: MagazineMigration
paths:
  /api/v1/Magazine/ReadFromFile:
    post:
      tags:
      - MagazineMigration
      summary: Czytanie czasopism z pliku xls i xlsx
      operationId: readMagazineFromXLSX
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - multipartFile
              type: object
              properties:
                multipartFile:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MagazineImportRequest'
      security:
      - Authorization: []
  /api/v1/Magazine/Import:
    post:
      tags:
      - MagazineMigration
      summary: importowanie licencji
      operationId: importMagazine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagazineImportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MagazineImportResponse'
      security:
      - Authorization: []
  /api/v1/Magazine/Import/FileTemplate:
    get:
      tags:
      - MagazineMigration
      summary: Pobieranie szablonu pliku xlsx do eksportu czasopism do pliku
      operationId: getMagazineFileTemplate
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
          x-is-file: 'true'
      security:
      - Authorization: []
components:
  schemas:
    MagazineResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        publisher:
          type: string
        impactFactor:
          type: number
        quartileImpactFactor:
          type: integer
          format: int32
        percentileScopus:
          type: integer
          format: int32
        quartileScopus:
          type: integer
          format: int32
        numbersOfPointsMNiSW:
          type: integer
          format: int32
        issn:
          type: string
        eissn:
          type: string
        pissn:
          type: string
    MagazineImportResponse:
      type: object
      properties:
        magazine:
          $ref: '#/components/schemas/MagazineResponse'
    MagazineImportRequest:
      type: object
      properties:
        title:
          type: string
        publisher:
          type: string
        impactFactor:
          type: number
        quartileImpactFactor:
          type: integer
          format: int32
        percentileScopus:
          type: integer
          format: int32
        quartileScopus:
          type: integer
          format: int32
        numbersOfPointsMNiSW:
          type: integer
          format: int32
        issn:
          type: string
        eissn:
          type: string
        pissn:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
