openapi: 3.2.0
info:
  title: Jaskier Article My Uw API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ArticleMyUw
paths:
  /api/v1/MyUw/Article:
    get:
      tags:
      - ArticleMyUw
      summary: Lista artykułów z paginacją (odata)
      operationId: queryForMyUwArticle
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
          default: allpages
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
          default: created desc
      - name: searchValue
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponseArticleResponse'
      security:
      - Authorization: []
  /api/v1/MyUw/Article/{id}:
    get:
      tags:
      - ArticleMyUw
      summary: Pobranie artykułu po id
      operationId: getMyUwArticleById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArticleResponse'
      security:
      - Authorization: []
components:
  schemas:
    ArticleResponse:
      type: object
      properties:
        id:
          type: string
        titlePl:
          type: string
        titleEn:
          type: string
        contentPl:
          type: string
        contentEn:
          type: string
        visibleFrom:
          type: string
          format: date
        visibleTo:
          type: string
          format: date
        signification:
          type: string
        tags:
          type: array
          items:
            type: string
        visible:
          type: boolean
        created:
          type: string
          format: date-time
    OdataResponseArticleResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ArticleResponse'
        totalCount:
          type: integer
          format: int32
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
