openapi: 3.2.0
info:
  title: Jaskier It Service API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ItService
paths:
  /api/v1/ItService/{itServiceId}:
    get:
      tags:
      - ItService
      summary: Czytanie rejestru systemu z podanym id
      operationId: getItServiceId
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItServiceResponse'
      security:
      - Authorization: []
    put:
      tags:
      - ItService
      summary: Aktualizacja rejestru systemu
      operationId: updateItService
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItServiceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItServiceResponse'
      security:
      - Authorization: []
  /api/v1/ItService/{itServiceId}/Article:
    get:
      tags:
      - ItService
      summary: Czytanie artykułu do itService
      operationId: getItServiceArticle
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArticlePreviewResponse'
      security:
      - Authorization: []
    put:
      tags:
      - ItService
      summary: Dodawanie artykułu do itService
      operationId: upsertItServiceArticle
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ArticlePreviewResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - ItService
      summary: Usunięcie artykułu dla itService
      operationId: removeItServiceArticle
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ItService:
    get:
      tags:
      - ItService
      summary: Listowanie danych o rejestrach systemu
      operationId: queryForItService
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryItServiceItemResponse'
      security:
      - Authorization: []
    post:
      tags:
      - ItService
      summary: Dodanie rejestru systemu
      operationId: addItService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItServiceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ItServiceResponse'
      security:
      - Authorization: []
  /api/v1/ItService/Logo/Upload:
    post:
      tags:
      - ItService
      summary: Upload Logo
      operationId: uploadLogo
      parameters:
      - name: itServiceId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                - 100 CONTINUE
                - 101 SWITCHING_PROTOCOLS
                - 102 PROCESSING
                - 103 EARLY_HINTS
                - 103 CHECKPOINT
                - 200 OK
                - 201 CREATED
                - 202 ACCEPTED
                - 203 NON_AUTHORITATIVE_INFORMATION
                - 204 NO_CONTENT
                - 205 RESET_CONTENT
                - 206 PARTIAL_CONTENT
                - 207 MULTI_STATUS
                - 208 ALREADY_REPORTED
                - 226 IM_USED
                - 300 MULTIPLE_CHOICES
                - 301 MOVED_PERMANENTLY
                - 302 FOUND
                - 302 MOVED_TEMPORARILY
                - 303 SEE_OTHER
                - 304 NOT_MODIFIED
                - 305 USE_PROXY
                - 307 TEMPORARY_REDIRECT
                - 308 PERMANENT_REDIRECT
                - 400 BAD_REQUEST
                - 401 UNAUTHORIZED
                - 402 PAYMENT_REQUIRED
                - 403 FORBIDDEN
                - 404 NOT_FOUND
                - 405 METHOD_NOT_ALLOWED
                - 406 NOT_ACCEPTABLE
                - 407 PROXY_AUTHENTICATION_REQUIRED
                - 408 REQUEST_TIMEOUT
                - 409 CONFLICT
                - 410 GONE
                - 411 LENGTH_REQUIRED
                - 412 PRECONDITION_FAILED
                - 413 PAYLOAD_TOO_LARGE
                - 413 REQUEST_ENTITY_TOO_LARGE
                - 414 URI_TOO_LONG
                - 414 REQUEST_URI_TOO_LONG
                - 415 UNSUPPORTED_MEDIA_TYPE
                - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                - 417 EXPECTATION_FAILED
                - 418 I_AM_A_TEAPOT
                - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                - 420 METHOD_FAILURE
                - 421 DESTINATION_LOCKED
                - 422 UNPROCESSABLE_ENTITY
                - 423 LOCKED
                - 424 FAILED_DEPENDENCY
                - 425 TOO_EARLY
                - 426 UPGRADE_REQUIRED
                - 428 PRECONDITION_REQUIRED
                - 429 TOO_MANY_REQUESTS
                - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                - 500 INTERNAL_SERVER_ERROR
                - 501 NOT_IMPLEMENTED
                - 502 BAD_GATEWAY
                - 503 SERVICE_UNAVAILABLE
                - 504 GATEWAY_TIMEOUT
                - 505 HTTP_VERSION_NOT_SUPPORTED
                - 506 VARIANT_ALSO_NEGOTIATES
                - 507 INSUFFICIENT_STORAGE
                - 508 LOOP_DETECTED
                - 509 BANDWIDTH_LIMIT_EXCEEDED
                - 510 NOT_EXTENDED
                - 511 NETWORK_AUTHENTICATION_REQUIRED
      security:
      - Authorization: []
  /api/v1/ItService/{id}/Logo/Download:
    get:
      tags:
      - ItService
      summary: Pobranie logo
      operationId: downloadLogo_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: typeEnum
        in: query
        required: false
        schema:
          type: string
          default: LARGE
          enum:
          - LARGE
          - MEDIUM
          - SMALL
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ItService/PublicOrProtected:
    get:
      tags:
      - ItService
      summary: Listowanie danych o publicznych bądź chronionych serwisach it
      operationId: queryForItServicePublicOrProtected_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QueryItServiceItemResponse'
      security:
      - Authorization: []
  /api/v1/ItService/{itServiceId}/Remove:
    delete:
      tags:
      - ItService
      summary: Usunięcie rejestru systemu
      operationId: removeItService
      parameters:
      - name: itServiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ItService/{id}/Logo:
    delete:
      tags:
      - ItService
      summary: Usunięcie logo przypisanego do serwisu
      operationId: removeLogo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                - 100 CONTINUE
                - 101 SWITCHING_PROTOCOLS
                - 102 PROCESSING
                - 103 EARLY_HINTS
                - 103 CHECKPOINT
                - 200 OK
                - 201 CREATED
                - 202 ACCEPTED
                - 203 NON_AUTHORITATIVE_INFORMATION
                - 204 NO_CONTENT
                - 205 RESET_CONTENT
                - 206 PARTIAL_CONTENT
                - 207 MULTI_STATUS
                - 208 ALREADY_REPORTED
                - 226 IM_USED
                - 300 MULTIPLE_CHOICES
                - 301 MOVED_PERMANENTLY
                - 302 FOUND
                - 302 MOVED_TEMPORARILY
                - 303 SEE_OTHER
                - 304 NOT_MODIFIED
                - 305 USE_PROXY
                - 307 TEMPORARY_REDIRECT
                - 308 PERMANENT_REDIRECT
                - 400 BAD_REQUEST
                - 401 UNAUTHORIZED
                - 402 PAYMENT_REQUIRED
                - 403 FORBIDDEN
                - 404 NOT_FOUND
                - 405 METHOD_NOT_ALLOWED
                - 406 NOT_ACCEPTABLE
                - 407 PROXY_AUTHENTICATION_REQUIRED
                - 408 REQUEST_TIMEOUT
                - 409 CONFLICT
                - 410 GONE
                - 411 LENGTH_REQUIRED
                - 412 PRECONDITION_FAILED
                - 413 PAYLOAD_TOO_LARGE
                - 413 REQUEST_ENTITY_TOO_LARGE
                - 414 URI_TOO_LONG
                - 414 REQUEST_URI_TOO_LONG
                - 415 UNSUPPORTED_MEDIA_TYPE
                - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                - 417 EXPECTATION_FAILED
                - 418 I_AM_A_TEAPOT
                - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                - 420 METHOD_FAILURE
                - 421 DESTINATION_LOCKED
                - 422 UNPROCESSABLE_ENTITY
                - 423 LOCKED
                - 424 FAILED_DEPENDENCY
                - 425 TOO_EARLY
                - 426 UPGRADE_REQUIRED
                - 428 PRECONDITION_REQUIRED
                - 429 TOO_MANY_REQUESTS
                - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                - 500 INTERNAL_SERVER_ERROR
                - 501 NOT_IMPLEMENTED
                - 502 BAD_GATEWAY
                - 503 SERVICE_UNAVAILABLE
                - 504 GATEWAY_TIMEOUT
                - 505 HTTP_VERSION_NOT_SUPPORTED
                - 506 VARIANT_ALSO_NEGOTIATES
                - 507 INSUFFICIENT_STORAGE
                - 508 LOOP_DETECTED
                - 509 BANDWIDTH_LIMIT_EXCEEDED
                - 510 NOT_EXTENDED
                - 511 NETWORK_AUTHENTICATION_REQUIRED
      security:
      - Authorization: []
components:
  schemas:
    QueryItServiceItemResponse:
      type: object
      properties:
        id:
          type: string
        family:
          type: string
        system:
          type: string
        displayNamePl:
          type: string
        displayNameEn:
          type: string
        url:
          type: string
        keywords:
          type: array
          items:
            type: string
        logo:
          type: string
        articleId:
          type: string
        public:
          type: boolean
        protected:
          type: boolean
        private:
          type: boolean
        it:
          type: boolean
        student:
          type: boolean
        faculty:
          type: boolean
        staff:
          type: boolean
        guest:
          type: boolean
    ArticlePreviewResponse:
      type: object
      properties:
        id:
          type: string
        titlePl:
          type: string
        titleEn:
          type: string
        contentPl:
          type: string
        contentEn:
          type: string
        visibleFrom:
          type: string
          format: date
        visibleTo:
          type: string
          format: date
        signification:
          type: string
        tags:
          type: array
          items:
            type: string
        visible:
          type: boolean
        created:
          type: string
          format: date-time
    ItServiceResponse:
      type: object
      properties:
        id:
          type: string
        family:
          type: string
        system:
          type: string
        displayNamePl:
          type: string
        displayNameEn:
          type: string
        url:
          type: string
        keywords:
          type: array
          items:
            type: string
        logo:
          type: string
        public:
          type: boolean
        protected:
          type: boolean
        private:
          type: boolean
        it:
          type: boolean
        student:
          type: boolean
        faculty:
          type: boolean
        staff:
          type: boolean
        guest:
          type: boolean
    ItServiceRequest:
      type: object
      properties:
        family:
          type: string
        system:
          type: string
        displayNamePl:
          type: string
        displayNameEn:
          type: string
        url:
          type: string
        keywords:
          type: array
          items:
            type: string
        logo:
          type: string
        public:
          type: boolean
        protected:
          type: boolean
        private:
          type: boolean
        it:
          type: boolean
        student:
          type: boolean
        faculty:
          type: boolean
        staff:
          type: boolean
        guest:
          type: boolean
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
