openapi: 3.2.0
info:
  title: Jaskier Uw Person My Uw API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: UwPersonMyUw
paths:
  /api/v1/MyUw/UwPerson/SearchEmployee:
    get:
      tags:
      - UwPersonMyUw
      summary: Listowanie danych o osobach
      operationId: queryForEmployee
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
          default: allpages
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
          default: lastName,firstName,email
      - name: $filter
        in: query
        required: false
        schema:
          type: string
          default: ()
      - name: searchValue
        in: query
        required: false
        schema:
          type: string
      - name: function
        in: query
        required: false
        schema:
          type: string
      - name: unitCode
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponseMyUwPersonQueryResponse'
      security:
      - Authorization: []
components:
  schemas:
    MyUwPersonQueryResponse:
      type: object
      properties:
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        email:
          type: string
        profilePublicId:
          type: string
        degree:
          type: string
        www:
          type: string
        functions:
          type: array
          items:
            $ref: '#/components/schemas/MyUwPersonUnitResponse'
        employments:
          type: array
          items:
            $ref: '#/components/schemas/MyUwPersonUnitResponse'
        isPubliclyVisible:
          type: boolean
        buildings:
          type: array
          items:
            $ref: '#/components/schemas/MyUwBuildingResponse'
        phoneNumbers:
          type: array
          items:
            type: string
    MyUwUnitResponse:
      type: object
      properties:
        code:
          type: string
        namePl:
          type: string
        nameEn:
          type: string
    MyUwPersonUnitResponse:
      type: object
      properties:
        unit:
          $ref: '#/components/schemas/MyUwUnitResponse'
        unitHierarchy:
          type: array
          items:
            $ref: '#/components/schemas/MyUwUnitResponse'
        roleNamePl:
          type: string
        roleNameEn:
          type: string
    MyUwBuildingResponse:
      type: object
      properties:
        publicBuildingId:
          type: string
        namePl:
          type: string
        nameEn:
          type: string
        roomNumber:
          type: string
    OdataResponseMyUwPersonQueryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MyUwPersonQueryResponse'
        totalCount:
          type: integer
          format: int32
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
