openapi: 3.2.0
info:
  title: Jaskier Monograph Publisher Migration API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: MonographPublisherMigration
paths:
  /api/v1/MonographPublisher/ReadFromFile:
    post:
      tags:
      - MonographPublisherMigration
      summary: Czytanie wydawców monografii z pliku xls i xlsx
      operationId: readMonographPublisherFromXLSX
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - multipartFile
              type: object
              properties:
                multipartFile:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MonographPublisherImportRequest'
      security:
      - Authorization: []
  /api/v1/MonographPublisher/Import:
    post:
      tags:
      - MonographPublisherMigration
      summary: importowanie wydawcy monografii
      operationId: importMonographPublisher
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonographPublisherImportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MonographPublisherImportResponse'
      security:
      - Authorization: []
  /api/v1/MonographPublisher/Import/FileTemplate:
    get:
      tags:
      - MonographPublisherMigration
      summary: Pobieranie szablonu pliku xlsx do eksportu wydawców monografii
      operationId: getMonographPublisherFileTemplate
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
          x-is-file: 'true'
      security:
      - Authorization: []
components:
  schemas:
    MonographPublisherImportRequest:
      type: object
      properties:
        level:
          type: string
        publishingHouse:
          type: string
    MonographPublisherImportResponse:
      type: object
      properties:
        magazine:
          $ref: '#/components/schemas/MonographPublisherResponse'
    MonographPublisherResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        level:
          type: string
        publishingHouse:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
