openapi: 3.2.0
info:
  title: Jaskier Translation API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: Translation
paths:
  /api/v1/Translation:
    get:
      tags:
      - Translation
      summary: Czytanie listy tłumaczeń
      operationId: findAllTranslations
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslationResponse'
      security:
      - Authorization: []
    post:
      tags:
      - Translation
      summary: Dodawanie tłumaczenia
      operationId: addTranslation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TranslationResponse'
      security:
      - Authorization: []
  /api/v1/Translation/{id}:
    get:
      tags:
      - Translation
      summary: Czytanie tłumaczenia
      operationId: getByTranslationById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TranslationResponse'
      security:
      - Authorization: []
    post:
      tags:
      - Translation
      summary: Aktualizacja tłumaczenia
      operationId: updateTranslation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TranslationResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - Translation
      summary: Usunięcie tłumaczenia
      operationId: removeTranslation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/Translation/Categories:
    get:
      tags:
      - Translation
      summary: Czytanie listy kategorii tłumaczeń
      operationId: findAllTranslationCategories_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslationCategoryResponse'
      security:
      - Authorization: []
components:
  schemas:
    TranslationCategoryResponse:
      type: object
      properties:
        name:
          type: string
        en:
          type: string
        pl:
          type: string
        fr:
          type: string
        it:
          type: string
        da:
          type: string
        de:
          type: string
        cs:
          type: string
        uk:
          type: string
        ru:
          type: string
        be:
          type: string
    TranslationRequest:
      required:
      - category
      - en
      type: object
      properties:
        en:
          maxLength: 255
          minLength: 0
          type: string
        pl:
          maxLength: 255
          minLength: 0
          type: string
        fr:
          maxLength: 255
          minLength: 0
          type: string
        it:
          maxLength: 255
          minLength: 0
          type: string
        da:
          maxLength: 255
          minLength: 0
          type: string
        de:
          maxLength: 255
          minLength: 0
          type: string
        cs:
          maxLength: 255
          minLength: 0
          type: string
        uk:
          maxLength: 255
          minLength: 0
          type: string
        ru:
          maxLength: 255
          minLength: 0
          type: string
        be:
          maxLength: 255
          minLength: 0
          type: string
        category:
          type: string
    TranslationResponse:
      type: object
      properties:
        id:
          type: string
        en:
          type: string
        pl:
          type: string
        fr:
          type: string
        it:
          type: string
        da:
          type: string
        de:
          type: string
        cs:
          type: string
        uk:
          type: string
        ru:
          type: string
        be:
          type: string
        category:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
