openapi: 3.2.0
info:
  title: Jaskier Pass Control API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PassControl
paths:
  /api/v1/PassControl:
    get:
      tags:
      - PassControl
      operationId: queryForPass
      parameters:
      - name: year
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlResponse'
      security:
      - Authorization: []
      summary: Query for pass
      x-summary-source: derived
    post:
      tags:
      - PassControl
      operationId: addPass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassControlRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PassControlResponse'
      security:
      - Authorization: []
      summary: Add pass
      x-summary-source: derived
  /api/v1/PassControl/{id}:
    get:
      tags:
      - PassControl
      operationId: getPass
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PassControlResponse'
      security:
      - Authorization: []
      summary: Get pass
      x-summary-source: derived
    post:
      tags:
      - PassControl
      operationId: updatePass
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassControlRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PassControlResponse'
      security:
      - Authorization: []
      summary: Update pass
      x-summary-source: derived
    delete:
      tags:
      - PassControl
      operationId: deletePass
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                - 100 CONTINUE
                - 101 SWITCHING_PROTOCOLS
                - 102 PROCESSING
                - 103 EARLY_HINTS
                - 103 CHECKPOINT
                - 200 OK
                - 201 CREATED
                - 202 ACCEPTED
                - 203 NON_AUTHORITATIVE_INFORMATION
                - 204 NO_CONTENT
                - 205 RESET_CONTENT
                - 206 PARTIAL_CONTENT
                - 207 MULTI_STATUS
                - 208 ALREADY_REPORTED
                - 226 IM_USED
                - 300 MULTIPLE_CHOICES
                - 301 MOVED_PERMANENTLY
                - 302 FOUND
                - 302 MOVED_TEMPORARILY
                - 303 SEE_OTHER
                - 304 NOT_MODIFIED
                - 305 USE_PROXY
                - 307 TEMPORARY_REDIRECT
                - 308 PERMANENT_REDIRECT
                - 400 BAD_REQUEST
                - 401 UNAUTHORIZED
                - 402 PAYMENT_REQUIRED
                - 403 FORBIDDEN
                - 404 NOT_FOUND
                - 405 METHOD_NOT_ALLOWED
                - 406 NOT_ACCEPTABLE
                - 407 PROXY_AUTHENTICATION_REQUIRED
                - 408 REQUEST_TIMEOUT
                - 409 CONFLICT
                - 410 GONE
                - 411 LENGTH_REQUIRED
                - 412 PRECONDITION_FAILED
                - 413 PAYLOAD_TOO_LARGE
                - 413 REQUEST_ENTITY_TOO_LARGE
                - 414 URI_TOO_LONG
                - 414 REQUEST_URI_TOO_LONG
                - 415 UNSUPPORTED_MEDIA_TYPE
                - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                - 417 EXPECTATION_FAILED
                - 418 I_AM_A_TEAPOT
                - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                - 420 METHOD_FAILURE
                - 421 DESTINATION_LOCKED
                - 422 UNPROCESSABLE_ENTITY
                - 423 LOCKED
                - 424 FAILED_DEPENDENCY
                - 425 TOO_EARLY
                - 426 UPGRADE_REQUIRED
                - 428 PRECONDITION_REQUIRED
                - 429 TOO_MANY_REQUESTS
                - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                - 500 INTERNAL_SERVER_ERROR
                - 501 NOT_IMPLEMENTED
                - 502 BAD_GATEWAY
                - 503 SERVICE_UNAVAILABLE
                - 504 GATEWAY_TIMEOUT
                - 505 HTTP_VERSION_NOT_SUPPORTED
                - 506 VARIANT_ALSO_NEGOTIATES
                - 507 INSUFFICIENT_STORAGE
                - 508 LOOP_DETECTED
                - 509 BANDWIDTH_LIMIT_EXCEEDED
                - 510 NOT_EXTENDED
                - 511 NETWORK_AUTHENTICATION_REQUIRED
      security:
      - Authorization: []
      summary: Delete pass
      x-summary-source: derived
  /api/v1/PassControl/{id}/Offenses:
    get:
      tags:
      - PassControl
      operationId: getPassControlOffenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlOffenseResponse'
      security:
      - Authorization: []
      summary: Get pass control offenses
      x-summary-source: derived
    post:
      tags:
      - PassControl
      operationId: updatePassControlOffenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PassControlOffenseRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlOffenseResponse'
      security:
      - Authorization: []
      summary: Update pass control offenses
      x-summary-source: derived
  /api/v1/PassControl/SearchPerson:
    get:
      tags:
      - PassControl
      summary: Wyszukiwanie osoby
      operationId: searchPersonForPassControl
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 100
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
          default: lastName,firstName,email
      - name: searchValue
        in: query
        required: false
        schema:
          type: string
          default: searchValue
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponsePersonViewResponse'
      security:
      - Authorization: []
  /api/v1/PassControl/SearchPerson('{personId}'):
    get:
      tags:
      - PassControl
      summary: Czytanie informacji o osobie
      operationId: getSearchPersonForPassControl
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PersonViewResponse'
      security:
      - Authorization: []
components:
  schemas:
    PassControlResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        year:
          type: string
        passIndex:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        departmentCode:
          type: string
        departmentName:
          type: string
        passNumber:
          type: string
        vehicleRegistrationNumbers:
          type: array
          items:
            type: string
        parkingLots:
          type: array
          items:
            type: string
        type:
          type: string
          enum:
          - N
          - O
          - P
          - R
          - S
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        description:
          type: string
        isSuspended:
          type: boolean
      description: Informacje o przepustkach samochodowych
    PassControlRequest:
      required:
      - isSuspended
      - parkingLots
      - type
      - validFrom
      - validTo
      - vehicleRegistrationNumbers
      - year
      type: object
      properties:
        year:
          type: string
        type:
          type: string
          enum:
          - N
          - O
          - P
          - R
          - S
        vehicleRegistrationNumbers:
          uniqueItems: true
          type: array
          items:
            type: string
        departmentCode:
          type: string
        parkingLots:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - FURMANSKA
            - OCHOTA
            - OCHOTA_GARAZ
            - SRODMIESCIE
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        isSuspended:
          type: boolean
        description:
          type: string
    PersonViewResponse:
      type: object
      properties:
        personId:
          type: string
        university:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        orcid:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        email:
          type: string
        profileId:
          type: string
        degree:
          type: string
        universityIndexNumber:
          type: string
    PassControlOffenseResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        passControlId:
          type: integer
          format: int32
        value:
          type: string
    OdataResponsePersonViewResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PersonViewResponse'
        totalCount:
          type: integer
          format: int32
    PassControlOffenseRequest:
      required:
      - value
      type: object
      properties:
        id:
          type: integer
          format: int32
        value:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
