openapi: 3.2.0
info:
  title: Jaskier Publication Migration API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PublicationMigration
paths:
  /api/v1/Publication/Import/Start:
    post:
      tags:
      - PublicationMigration
      summary: Zasygnalizowanie roczpoczęcia importu publikacji
      operationId: startPublicationImport_1
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynchronizationResponse'
      security:
      - Authorization: []
  /api/v1/Publication/Import/Extended:
    post:
      tags:
      - PublicationMigration
      summary: Rozszerzone importowanie publikacji (przyjmowany request NIE JEST generowany z…
      operationId: importPublicationExtended
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicationExtendedImportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicationExtendedImportResponse'
      security:
      - Authorization: []
  /api/v1/Publication/Import/Extended/Radon:
    post:
      tags:
      - PublicationMigration
      summary: Rozszerzone importowanie publikacji z Radona (przyjmowany request NIE JEST…
      operationId: importPublicationFromRadonExtended
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicationRadonExtendedImportRequest'
        required: true
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/Publication/Import/End:
    post:
      tags:
      - PublicationMigration
      summary: Zasygnalizowanie zakończenia importu publikacji
      operationId: endPublicationImport_1
      parameters:
      - name: synchronizationId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
components:
  schemas:
    PublicationProfileResponse:
      type: object
      properties:
        id:
          type: string
          description: id relacji course_person
        publicationId:
          type: string
          description: id kursu
        name:
          type: string
          description: imię i nazwisko autora (ustawiane dowolnie)
        profileId:
          type: string
          description: id profilu
        profilePublicId:
          type: string
          description: id publiczne profilu
        profileFirstName:
          type: string
          description: imię osoby
        profileLastName:
          type: string
          description: nazwisko osoby
        profileEmails:
          type: array
          description: emaile osoby
          items:
            type: string
            description: emaile osoby
        profileDegree:
          type: string
          description: stopień naukowy osoby
        role:
          type: string
          description: rola osoby
        email:
          type: string
          description: email
        isPubliclyVisible:
          type: boolean
          description: czy profil jest publiczny
    PublicationResponse:
      type: object
      properties:
        publicationId:
          type: string
          description: id publikacji
        cfUri:
          type: string
          description: link do publikacji
        doi:
          type: string
          description: link do globalnie unikalnego identyfikatora
        publicationDate:
          type: string
          description: data wydania publikacji
        year:
          type: integer
          description: rok wydania publikacji
          format: int32
        types:
          type: array
          description: typ publikacji
          items:
            type: string
            description: typ publikacji
        languages:
          type: array
          description: lista języków publikacji
          items:
            type: string
            description: lista języków publikacji
        cfTitle:
          type: string
          description: tytuł publikacji pobierany z abstraktu o najniższym indeksie
        cfKeyw:
          type: array
          description: słowa kluczowe pobierane z abstraktu o najniższym indeksie
          items:
            type: string
            description: słowa kluczowe pobierane z abstraktu o najniższym indeksie
        creationTime:
          type: string
          format: date-time
      description: Informacje o publikacji
    PublicationExtendedImportProfileRequest:
      type: object
      properties:
        externalIds:
          type: object
          additionalProperties:
            type: string
            description: Mapa identyfikatorów zewnętrznych (np. profilePublicId, uidPolon, pbnId, orcid, externalId)
          description: Mapa identyfikatorów zewnętrznych (np. profilePublicId, uidPolon, pbnId, orcid, externalId)
        name:
          type: string
          description: Imię i nazwisko
        role:
          type: string
          description: Rola autora
          enum:
          - AUTHOR
          - SUPERVISOR
          - EDITOR
          - TRANSLATOR
      description: lista profile
    PublicationExtendedImportResponse:
      type: object
      properties:
        publication:
          $ref: '#/components/schemas/PublicationResponse'
        abstracts:
          type: array
          items:
            $ref: '#/components/schemas/AbstractResponse'
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/PublicationProfileResponse'
    AbstractListItemRequest:
      required:
      - keyw
      type: object
      properties:
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          maxItems: 100
          minItems: 0
          uniqueItems: true
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
      description: lista abstraktów
    PublicationExtendedImportRequest:
      required:
      - abstracts
      - importSourceId
      - importSourceType
      - languages
      - profiles
      - types
      type: object
      properties:
        cfUri:
          type: string
          description: link do publikacji
        year:
          type: integer
          description: rok wydania publikacji
          format: int32
        doi:
          type: string
          description: link do globalnie unikalnego identyfikatora
        publicationDate:
          type: string
          description: data publikacji
        types:
          uniqueItems: true
          type: array
          description: lista (zbiór) typów publikacji
          items:
            type: string
            description: lista (zbiór) typów publikacji
        languages:
          uniqueItems: true
          type: array
          description: lista języków publikacji
          items:
            type: string
            description: lista języków publikacji
        profiles:
          type: array
          description: lista profile
          items:
            $ref: '#/components/schemas/PublicationExtendedImportProfileRequest'
        abstracts:
          type: array
          description: lista abstraktów
          items:
            $ref: '#/components/schemas/AbstractListItemRequest'
        importSourceType:
          type: string
          description: źródło importu np. APD
        importSourceId:
          type: string
          description: id źródła importu np. 612321
    PublicationRadonExtendedImportRequest:
      required:
      - abstracts
      - importSourceId
      - importSourceType
      - languages
      - profiles
      - types
      type: object
      properties:
        cfUri:
          type: string
          description: link do publikacji
        year:
          type: integer
          description: rok wydania publikacji
          format: int32
        doi:
          type: string
          description: link do globalnie unikalnego identyfikatora
        publicationDate:
          type: string
          description: data publikacji
        types:
          uniqueItems: true
          type: array
          description: lista (zbiór) typów publikacji
          items:
            type: string
            description: lista (zbiór) typów publikacji
        languages:
          uniqueItems: true
          type: array
          description: lista języków publikacji
          items:
            type: string
            description: lista języków publikacji
        profiles:
          type: array
          description: lista profile
          items:
            $ref: '#/components/schemas/PublicationExtendedImportProfileRequest'
        abstracts:
          type: array
          description: lista abstraktów
          items:
            $ref: '#/components/schemas/AbstractListItemRequest'
        importSourceType:
          type: string
          description: źródło importu np. APD
        importSourceId:
          type: string
          description: id źródła importu np. 612321
        publicationVenue:
          $ref: '#/components/schemas/PublicationVenueRequest'
    AbstractResponse:
      type: object
      properties:
        id:
          type: string
          description: Id abstraltu
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        orderIndex:
          type: integer
          description: 'kolejność wyświetlania abstraktów (domyślnie: 0)'
          format: int32
        objectId:
          type: string
          description: Id obiektu
        objectType:
          type: string
          description: Typ obiektu
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
    PublicationVenueRequest:
      type: object
      properties:
        title:
          type: string
          description: Tytuł
        issn:
          type: string
          description: ISSN - międzynarodowy numer identyfikacyjny czasopism i wydawnictw ciągłych
        eissn:
          type: string
          description: E-ISSN - wersja ISSN dla publikacji elektronicznych.
        isbn:
          type: string
          description: ISBN - międzynarodowy numer identyfikacyjny książek i wydawnictw zwartych.
        publisher:
          type: string
          description: Wydawca
        doi:
          type: string
          description: DOI (Digital Object Identifier)
        uri:
          type: string
          description: Link do czasopisma/publikacji
      description: dane czasopisma/książki
    SynchronizationResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - ACHIEVEMENTS_SUMMARY
          - ADMIN
          - ARTICLE
          - ASSET
          - BUILDING
          - BUILDING_ACCESSIBILITY
          - BUILDING_ATTRIBUTE
          - BUILDING_BON
          - BUILDING_PATH_OBJECT_TYPE
          - BUILDING_PUBLIC
          - BUSINESS_ENTITY
          - CAMPUS
          - COURSE
          - COURSE_REGISTRATION_INFO
          - CURRENCY
          - EVENT
          - FAQ
          - GIVEAWAY
          - ITEM_USED
          - IT_SERVICE
          - LABORATORY
          - LABORATORY_TYPE
          - LEGAL_BASIS
          - LICENSE
          - MOBILITY_OPTION
          - MAGAZINE
          - MONOGRAPH_PUBLISHER
          - FRAMEWORK_AGREEMENT
          - HOUSING_OPTION
          - PATENT
          - PASS_CONTROL
          - PASS_CONTROL_PUBLIC
          - PASS_CONTROL_DICTIONARY
          - PERMISSION
          - PERM_DEPARTMENT_PERSON
          - PERM_DEPARTMENT_CAS_ROLE
          - PERSON
          - PERSON_ID_CARD
          - PHONE_NUMBER
          - PROFILE
          - PROFILE_PUBLIC
          - PROFILE_MYUW
          - PERSON_PROFILE_MYUW
          - PROJECT
          - PROJECT_PUBLIC
          - PROJECT_MIGRATION
          - PROJECT_DICTIONARY
          - PROJECT_PROGRAM
          - PROJECT_INTERNATIONAL
          - PROJECT_PROGRAM_DETAILED
          - PROJECT_PROGRAM_CONTRACT
          - PROJECT_TYPE
          - PROJECT_REPORT
          - PSP_ELEMENT
          - PUBLICATION
          - PUBLICATION_VENUE
          - RESEARCH_SET
          - PERSON_SYSTEM_ROLE
          - PERSON_SYSTEM_ROLE_API
          - SAP_OBJECT_ACCESS
          - SYSTEM_ROLE
          - PUBLIC_PROCUREMENT_PLAN
          - PUBLIC_PROCUREMENT_PLAN_CATEGORY
          - SAP_ROLE
          - STUDENT_ORGANIZATION
          - TRANSLATION
          - TRANSLATION_CATEGORY
          - TUTORIAL
          - UNIVERSITY_INFO
          - UW_ECONOMIC_DEPARTMENT
          - UW_PERSON
          - UW_PERSON_EMPLOYEE_DATA
          - UW_UNIT
        started:
          type: string
          format: date-time
        ended:
          type: string
          format: date-time
        source:
          type: string
        invokedBy:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
