openapi: 3.2.0
info:
  title: Jaskier Course My Uw API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: CourseMyUw
paths:
  /api/v1/MyUw/Course/{courseId}:
    get:
      tags:
      - CourseMyUw
      summary: Czytanie kursu z podanym id
      operationId: getCourseByIdForMyUw
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourseResponse'
      security:
      - Authorization: []
  /api/v1/MyUw/Course/{courseId}/Profile:
    get:
      tags:
      - CourseMyUw
      summary: Lista osób (prowadzących) dla danego kursu
      operationId: getCourseProfilesForMyUw
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseProfileResponse'
      security:
      - Authorization: []
  /api/v1/MyUw/Course/{courseId}/Abstract:
    get:
      tags:
      - CourseMyUw
      summary: Lista abstraktów dla danego kursu
      operationId: getCourseAbstractsForMyUw
      parameters:
      - name: courseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AbstractResponse'
      security:
      - Authorization: []
components:
  schemas:
    CourseProfileResponse:
      type: object
      properties:
        id:
          type: string
          description: id relacji course_profile
        courseId:
          type: string
          description: id kursu
        profileId:
          type: string
          description: id profilu
        profilePublicId:
          type: string
          description: id publiczne profilu
        profileFirstName:
          type: string
          description: imię osoby
        profileLastName:
          type: string
          description: nazwisko osoby
        profileEmails:
          type: array
          description: lista email osoby
          deprecated: true
          items:
            type: string
            description: lista email osoby
        profileEmail:
          type: string
          description: email profilu
        profileDegree:
          type: string
          description: stopień naukowy osoby
        visible4eu:
          type: boolean
          description: czy profil instruktora jest widoczny dla portalu 4eu+
        isPubliclyVisible:
          type: boolean
          description: czy profil jest publiczny
    AbstractResponse:
      type: object
      properties:
        id:
          type: string
          description: Id abstraltu
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        orderIndex:
          type: integer
          description: 'kolejność wyświetlania abstraktów (domyślnie: 0)'
          format: int32
        objectId:
          type: string
          description: Id obiektu
        objectType:
          type: string
          description: Typ obiektu
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
    CourseResponse:
      type: object
      properties:
        courseId:
          type: string
          description: id kursu
        subjectId:
          type: string
          description: id przedmiotu (musi być unikalne w skali całego rejestru)
        subjectCode:
          type: string
          description: kod przedmiotu
        term:
          type: string
          description: okres realizacji przedmiotu/ kod semestru (np. 2021/22Z)
        ects:
          type: number
          description: liczba punktów ECTS
          format: double
        is4eu:
          type: boolean
          description: flaga informująca o tym, że dany kurs jest dostępny w ramach oferty 4eu alliance
        sp4euPublicationDate:
          type: string
          description: data rozpoczęcia publikacji w student portalu
          format: date
        flagships4eu:
          type: array
          description: lista dziedzin rozwoju
          items:
            type: string
            description: lista dziedzin rozwoju
            enum:
            - FLAG_1
            - FLAG_2
            - FLAG_3
            - FLAG_4
        faculties:
          type: array
          description: lista fakultetów/przedmiotów (Analiza, Algebra, Mechanika...)
          items:
            type: string
            description: lista fakultetów/przedmiotów (Analiza, Algebra, Mechanika...)
        levels:
          type: array
          description: lista poziomów studiów, dla których dedykowane są zajęcia
          items:
            type: string
            description: lista poziomów studiów, dla których dedykowane są zajęcia
            enum:
            - BA
            - MA
            - PhD
            - PST
        languages:
          type: array
          description: lista języków, w których prowadzone są przedmioty
          items:
            type: string
            description: lista języków, w których prowadzone są przedmioty
        url:
          type: string
          description: adres url do strony ze szczegółowym opisem kursu
        providedBy:
          type: array
          description: uczelnie, które prowadzą kurs
          items:
            type: string
            description: uczelnie, które prowadzą kurs
            enum:
            - CUNI
            - UAH
            - SU
            - KU
            - UNIMI
            - UW
            - UNIGE
            - PARIS_2
        publishedBy:
          type: string
          description: nazwa uczelni, która opublikowała informację o kursie
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        year:
          type: integer
          description: rok akademicki
          format: int32
        placesLimit4eu:
          type: integer
          description: liczba miejsc w programie 4eu+
          format: int32
        startDate:
          type: string
          description: data rozpoczęcia realizacji kursu/początku semestru
          format: date
        endDate:
          type: string
          description: data zakończenia realizacji kursu/zakończenia semestru
          format: date
        workload:
          type: integer
          description: liczba godzin kursu
          format: int32
        title:
          type: string
          description: nazwa kursu
        keywords:
          type: array
          description: słowa kluczowe
          items:
            type: string
            description: słowa kluczowe
        levels4eu:
          type: array
          description: lista poziomów studiów, dla których dedykowane są zajęcia w programie 4eu+
          items:
            type: string
            description: lista poziomów studiów, dla których dedykowane są zajęcia w programie 4eu+
            enum:
            - BA
            - MA
            - PhD
            - PST
        startDate4eu:
          type: string
          description: data rozpoczęcia realizacji kursu/początku semestru w programie 4eu+
          format: date
        endDate4eu:
          type: string
          description: data zakończenia realizacji kursu/zakończenia semestru w programie 4eu+
          format: date
        facultyOrUnit4eu:
          type: string
          description: Nazwa wydziału lub jednostki w języku angielskim na potrzeby programu 4eu+
        title4eu:
          type: string
          description: nazwa kursu na potrzeby programu 4eu+
        ects4eu:
          type: number
          description: liczba punktów ECTS na potrzeby programu 4eu+
          format: double
        importSourceType:
          type: string
          description: typ źródła importu. Jeżeli źródłem jest USOS to jedyne pola jakie są modyfikowalne to flagships i is4eu
          enum:
          - USOS
        applicationDeadline:
          type: string
          description: Data rejestracji
          format: date
        sharedCompetencies4eu:
          type: array
          description: Lista rozwijanych kompetencji w ramach kursu
          items:
            type: string
            description: Lista rozwijanych kompetencji w ramach kursu
            enum:
            - Multilingualism
            - DataLiteracy
            - CriticalThinking
            - Entrepreneurship
            - SocialEngagement
        learningPathways4eu:
          type: array
          description: Lista ścieżek rozwoju w ramach kursu
          items:
            type: string
            description: Lista ścieżek rozwoju w ramach kursu
        teachingMode:
          type: string
          description: Tryb nauczania
          enum:
          - Physical
          - Online
          - Blended
          - Hybrid
        teachingMode4eu:
          type: string
          description: Tryb nauczania 4eu
          enum:
          - Physical
          - Online
          - Blended
          - Hybrid
        areasOfInterests:
          type: array
          description: Obszary zainteresowań
          items:
            type: string
            description: Obszary zainteresowań
        registrationInfoId:
          type: string
          description: Id informacji o rejestracji na kurs
        academicYear:
          type: string
          description: Rok akademicki
        additionalInfo:
          type: string
          description: Dodatkowe informacje o kursie
        creationTime:
          type: string
          format: date-time
      description: Informacje o kursie
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
