openapi: 3.2.0
info:
  title: Jaskier ID Card API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: IdCard
paths:
  /api/v1/IdCard/Import:
    post:
      tags:
      - IdCard
      operationId: importPersonIdCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonIdCardImportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PersonIdCardResponse'
      security:
      - Authorization: []
      summary: Import person id card
      x-summary-source: derived
  /api/v1/IdCard/Import/Start:
    post:
      tags:
      - IdCard
      summary: Zasygnalizowanie rozpoczęcia importu legitymacji
      operationId: startUnitImport_1
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynchronizationResponse'
      security:
      - Authorization: []
  /api/v1/IdCard/Import/End:
    post:
      tags:
      - IdCard
      summary: Zasygnalizowanie zakończenia importu legitymacji
      operationId: endUnitImport_1
      parameters:
      - name: synchronizationId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/IdCard:
    get:
      tags:
      - IdCard
      summary: Listowanie legitymacji
      operationId: queryForIdpPerson_1
      parameters:
      - name: $skip
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: $top
        in: query
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int64
          default: 10
      - name: $inlinecount
        in: query
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        schema:
          type: string
          default: ()
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OdataResponsePersonIdCardResponse'
      security:
      - Authorization: []
components:
  schemas:
    PersonIdCardResponse:
      type: object
      properties:
        id:
          type: string
        mifareNumber:
          type: string
        personId:
          type: string
        activeTo:
          type: string
          format: date
        dateCancelled:
          type: string
          format: date
        importSource:
          type: string
        importSourceId:
          type: string
    PersonIdCardImportRequest:
      type: object
      properties:
        mifareNumber:
          type: string
        personUsosId:
          type: integer
          format: int32
        activeTo:
          type: string
          format: date
        dateCancelled:
          type: string
          format: date
        importSource:
          type: string
        importSourceId:
          type: string
    OdataResponsePersonIdCardResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PersonIdCardResponse'
        totalCount:
          type: integer
          format: int32
    SynchronizationResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - ACHIEVEMENTS_SUMMARY
          - ADMIN
          - ARTICLE
          - ASSET
          - BUILDING
          - BUILDING_ACCESSIBILITY
          - BUILDING_ATTRIBUTE
          - BUILDING_BON
          - BUILDING_PATH_OBJECT_TYPE
          - BUILDING_PUBLIC
          - BUSINESS_ENTITY
          - CAMPUS
          - COURSE
          - COURSE_REGISTRATION_INFO
          - CURRENCY
          - EVENT
          - FAQ
          - GIVEAWAY
          - ITEM_USED
          - IT_SERVICE
          - LABORATORY
          - LABORATORY_TYPE
          - LEGAL_BASIS
          - LICENSE
          - MOBILITY_OPTION
          - MAGAZINE
          - MONOGRAPH_PUBLISHER
          - FRAMEWORK_AGREEMENT
          - HOUSING_OPTION
          - PATENT
          - PASS_CONTROL
          - PASS_CONTROL_PUBLIC
          - PASS_CONTROL_DICTIONARY
          - PERMISSION
          - PERM_DEPARTMENT_PERSON
          - PERM_DEPARTMENT_CAS_ROLE
          - PERSON
          - PERSON_ID_CARD
          - PHONE_NUMBER
          - PROFILE
          - PROFILE_PUBLIC
          - PROFILE_MYUW
          - PERSON_PROFILE_MYUW
          - PROJECT
          - PROJECT_PUBLIC
          - PROJECT_MIGRATION
          - PROJECT_DICTIONARY
          - PROJECT_PROGRAM
          - PROJECT_INTERNATIONAL
          - PROJECT_PROGRAM_DETAILED
          - PROJECT_PROGRAM_CONTRACT
          - PROJECT_TYPE
          - PROJECT_REPORT
          - PSP_ELEMENT
          - PUBLICATION
          - PUBLICATION_VENUE
          - RESEARCH_SET
          - PERSON_SYSTEM_ROLE
          - PERSON_SYSTEM_ROLE_API
          - SAP_OBJECT_ACCESS
          - SYSTEM_ROLE
          - PUBLIC_PROCUREMENT_PLAN
          - PUBLIC_PROCUREMENT_PLAN_CATEGORY
          - SAP_ROLE
          - STUDENT_ORGANIZATION
          - TRANSLATION
          - TRANSLATION_CATEGORY
          - TUTORIAL
          - UNIVERSITY_INFO
          - UW_ECONOMIC_DEPARTMENT
          - UW_PERSON
          - UW_PERSON_EMPLOYEE_DATA
          - UW_UNIT
        started:
          type: string
          format: date-time
        ended:
          type: string
          format: date-time
        source:
          type: string
        invokedBy:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
