openapi: 3.2.0
info:
  title: Jaskier Pass Control Migration API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PassControlMigration
paths:
  /api/v1/PassControlImportExport/ReadFromFile:
    post:
      tags:
      - PassControlMigration
      summary: czytanie przepustek z pliku xls i xlsx
      operationId: readPassControlFromXLSX
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - multipartFile
              type: object
              properties:
                multipartFile:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlImportRequest'
      security:
      - Authorization: []
  /api/v1/PassControlImportExport/Import:
    post:
      tags:
      - PassControlMigration
      summary: Importowanie przepustek.
      operationId: importPassControl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassControlImportRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PassControlResponse'
      security:
      - Authorization: []
  /api/v1/PassControlImportExport/Import/YearsLookup:
    get:
      tags:
      - PassControlMigration
      summary: Lista lat, w których są dostępne przepustki
      operationId: getYearsLookup
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      security:
      - Authorization: []
  /api/v1/PassControlImportExport/Import/FileTemplate:
    get:
      tags:
      - PassControlMigration
      summary: pobieranie szablonu pliku xlsx eksportu przepustek do pliku
      operationId: getPassControlFileTemplate
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
          x-is-file: 'true'
      security:
      - Authorization: []
  /api/v1/PassControlImportExport/Export:
    get:
      tags:
      - PassControlMigration
      summary: Eksport przepustek do pliku xlsx
      operationId: exportPassControl
      parameters:
      - name: year
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
          x-is-file: 'true'
      security:
      - Authorization: []
components:
  schemas:
    PassControlResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        year:
          type: string
        passIndex:
          type: integer
          format: int32
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        departmentCode:
          type: string
        departmentName:
          type: string
        passNumber:
          type: string
        vehicleRegistrationNumbers:
          type: array
          items:
            type: string
        parkingLots:
          type: array
          items:
            type: string
        type:
          type: string
          enum:
          - N
          - O
          - P
          - R
          - S
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        description:
          type: string
        isSuspended:
          type: boolean
      description: Informacje o przepustkach samochodowych
    PassControlImportRequest:
      type: object
      properties:
        id:
          type: integer
          format: int32
        year:
          type: string
        passIndex:
          type: integer
          format: int32
        passNumber:
          type: string
        description:
          type: string
        validFrom:
          type: string
          format: date
        validTo:
          type: string
          format: date
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        vehicleRegistrationNumbers:
          type: array
          items:
            type: string
        departmentCode:
          type: string
        parkingLots:
          type: array
          items:
            type: string
        isSuspended:
          type: boolean
        type:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
