openapi: 3.2.0
info:
  title: Jaskier Pass Control My Uw API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PassControlMyUw
paths:
  /api/v1/MyUw/PassControl:
    get:
      tags:
      - PassControlMyUw
      operationId: getPassControlPublicData
      parameters:
      - name: registrationNumber
        in: query
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlPublicResponse'
      security:
      - Authorization: []
      summary: Get pass control public data
      x-summary-source: derived
  /api/v1/MyUw/PassControl/ActiveByDate:
    get:
      tags:
      - PassControlMyUw
      operationId: getActivePassControlPublicByDate
      parameters:
      - name: registrationNumber
        in: query
        required: true
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassControlPublicResponse'
      security:
      - Authorization: []
      summary: Get active pass control public by date
      x-summary-source: derived
components:
  schemas:
    PassControlPublicResponse:
      type: object
      properties:
        vehicleRegistrationNumbers:
          type: array
          items:
            type: string
        departmentCode:
          type: string
        departmentName:
          type: string
        passNumber:
          type: string
        parkingLots:
          type: array
          items:
            type: string
        type:
          type: string
        description:
          type: string
        isSuspended:
          type: boolean
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
