openapi: 3.2.0
info:
  title: Jaskier Person Profile API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: PersonProfile
paths:
  /api/v1/MyUw/Person/{personId}/Profile:
    get:
      tags:
      - PersonProfile
      operationId: getPersonProfile
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - Authorization: []
      summary: Get person profile
      x-summary-source: derived
    put:
      tags:
      - PersonProfile
      summary: Aktualizacja danych profilu osoby
      operationId: updatePersonProfile
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonProfileRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - Authorization: []
    post:
      tags:
      - PersonProfile
      summary: Dodawanie profilu osoby
      operationId: addPersonProfile
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      security:
      - Authorization: []
  /api/v1/MyUw/Person/{personId}/Profile/Picture/Upload:
    post:
      tags:
      - PersonProfile
      summary: Operacja nadpisuje plik jeśli został wcześniej dodany
      operationId: uploadPersonProfilePicture
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/MyUw/Person/{personId}/Profile/Picture/Download:
    get:
      tags:
      - PersonProfile
      operationId: downloadPersonProfilePicture
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
      summary: Download person profile picture
      x-summary-source: derived
  /api/v1/MyUw/Person/{personId}/Profile/Picture:
    delete:
      tags:
      - PersonProfile
      operationId: removePersonProfilePicture
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
      summary: Remove person profile picture
      x-summary-source: derived
components:
  schemas:
    ProfileResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        email:
          type: string
        emailsOther:
          type: array
          items:
            type: string
        phone:
          type: string
        personId:
          type: string
        orcid:
          type: string
        uidPolon:
          type: string
        uidPolonStud:
          type: string
        uidPolonDokt:
          type: string
        pbnId:
          type: string
        scopusId:
          type: string
        degree:
          type: string
        cfKeyw:
          type: array
          items:
            type: string
        articleId:
          type: string
        scienceDisciplinesStatementDate:
          type: string
          format: date
        roles:
          type: array
          items:
            type: string
        isPubliclyVisible:
          type: boolean
        profilePublicId:
          type: string
    PersonProfileRequest:
      required:
      - emails
      - name
      type: object
      properties:
        name:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        emails:
          uniqueItems: true
          type: array
          items:
            type: string
        phone:
          type: string
        degree:
          type: string
        isPubliclyVisible:
          type: boolean
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
