openapi: 3.2.0
info:
  title: Jaskier Project Program Detailed API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ProjectProgramDetailed
paths:
  /api/v1/ProjectProgramDetailed/{id}:
    get:
      tags:
      - ProjectProgramDetailed
      summary: Czytanie programu szczegółowego projektu
      operationId: getProjectSpecificProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramDetailedResponse'
      security:
      - Authorization: []
    put:
      tags:
      - ProjectProgramDetailed
      summary: Aktualizacja programu szczegółowego projektu
      operationId: updateProjectSpecificProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectProgramDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramDetailedResponse'
      security:
      - Authorization: []
    delete:
      tags:
      - ProjectProgramDetailed
      summary: Usunięcie programu szczegółowego projektu
      operationId: removeProjectSpecificProgram
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
  /api/v1/ProjectProgramDetailed:
    get:
      tags:
      - ProjectProgramDetailed
      summary: Listowanie programu szczegółowego projektu
      operationId: queryForProjectSpecificProgram
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectProgramDetailedResponse'
      security:
      - Authorization: []
    post:
      tags:
      - ProjectProgramDetailed
      summary: Dodawanie programu szczegółowego projektu
      operationId: addProjectSpecificProgram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectProgramDetailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectProgramDetailedResponse'
      security:
      - Authorization: []
  /api/v1/ProjectProgramDetailed/Rearrange:
    post:
      tags:
      - ProjectProgramDetailed
      summary: Zmiana kolejności wpisów
      operationId: rearrangeProjectProgramDetaileds
      requestBody:
        description: Lista wszystkich id w nowej kolejności
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
      responses:
        '200':
          description: OK
      security:
      - Authorization: []
components:
  schemas:
    ProjectProgramDetailRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
    ProjectProgramDetailedResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      description: Informacje o programie projektu
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
