openapi: 3.2.0
info:
  title: Jaskier Course Registration Info API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: CourseRegistrationInfo
paths:
  /api/v1/CourseRegistrationInfo/{courseRegistrationInfoId}:
    get:
      tags:
      - CourseRegistrationInfo
      summary: Czytanie informacji o rejestracji z podanym id
      operationId: getCourseRegistrationInfoById
      parameters:
      - name: courseRegistrationInfoId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourseRegistrationInfoResponse'
      security:
      - Authorization: []
    put:
      tags:
      - CourseRegistrationInfo
      summary: Aktualizacja informacji o rejestracji
      operationId: updateCourseRegistrationInfo
      parameters:
      - name: courseRegistrationInfoId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRegistrationInfoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourseRegistrationInfoResponse'
      security:
      - Authorization: []
  /api/v1/CourseRegistrationInfo:
    get:
      tags:
      - CourseRegistrationInfo
      summary: Czytanie listy rekordów z informacjami o rejestracji
      operationId: getCourseRegistrationInfos
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseRegistrationInfoResponse'
      security:
      - Authorization: []
    post:
      tags:
      - CourseRegistrationInfo
      summary: Dodawanie informacji o rejestracji
      operationId: addCourseRegistrationInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRegistrationInfoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourseRegistrationInfoResponse'
      security:
      - Authorization: []
components:
  schemas:
    CourseRegistrationInfoResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        courseIds:
          type: array
          items:
            type: string
        courseNames:
          type: array
          items:
            type: string
    CourseRegistrationInfoRequest:
      required:
      - description
      - name
      type: object
      properties:
        name:
          type: string
          description: nazwa opisu zasad rejestracji
        description:
          maxLength: 50000
          minLength: 0
          type: string
          description: opis zasad rejestracji
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
