openapi: 3.2.0
info:
  title: Jaskier Project Report API
  version: 1.2.25
servers:
- url: https://api.jaskier.uw.edu.pl
tags:
- name: ProjectReport
paths:
  /api/v1/ProjectReport:
    get:
      tags:
      - ProjectReport
      operationId: getProjectReport
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectReportResponse'
      security:
      - Authorization: []
      summary: Get project report
      x-summary-source: derived
  /api/v1/ProjectReport/Units:
    get:
      tags:
      - ProjectReport
      operationId: getUwUnitsForReports
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UwUnitResponse'
      security:
      - Authorization: []
      summary: Get uw units for reports
      x-summary-source: derived
  /api/v1/ProjectReport/FinancingUw23:
    get:
      tags:
      - ProjectReport
      operationId: getProjectFinancingReport23
      parameters:
      - name: unit
        in: query
        required: false
        schema:
          type: string
      - name: year
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFinancingReport'
      security:
      - Authorization: []
      summary: Get project financing report23
      x-summary-source: derived
  /api/v1/ProjectReport/FinancingUw03:
    get:
      tags:
      - ProjectReport
      operationId: getProjectFinancingReport03
      parameters:
      - name: mainType
        in: query
        required: true
        schema:
          type: string
      - name: year
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFinancingReport'
      security:
      - Authorization: []
      summary: Get project financing report03
      x-summary-source: derived
  /api/v1/ProjectReport/FinancingUw01:
    get:
      tags:
      - ProjectReport
      operationId: getProjectFinancingReport01
      parameters:
      - name: unit
        in: query
        required: false
        schema:
          type: string
      - name: year
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFinancingReport'
      security:
      - Authorization: []
      summary: Get project financing report01
      x-summary-source: derived
  /api/v1/ProjectReport/ContractType:
    get:
      tags:
      - ProjectReport
      operationId: getProjectContractTypesForReports
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectContractTypeResponse'
      security:
      - Authorization: []
      summary: Get project contract types for reports
      x-summary-source: derived
components:
  schemas:
    ProjectFinancingInstitutionResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        businessEntityId:
          type: string
        businessEntityName:
          type: string
        businessEntityAcronym:
          type: string
        percentage:
          type: integer
          format: int32
        amount:
          type: number
        comment:
          type: string
        contractNumber:
          type: string
        primary:
          type: boolean
    UwEconomicDepartmentResponse:
      type: object
      properties:
        uwCode:
          type: string
          description: Unikalny kod działu gospodarczego
        uwUnitCode:
          type: string
          description: Unikalny kod jednostki
        namePl:
          type: string
          description: Polska nazwa działu gospodarczego
        nameEn:
          type: string
          description: Angielska nazwa działu gospodarczego
        unitNamePl:
          type: string
          description: Polska nazwa jednostki
        unitNameEn:
          type: string
          description: Angielska nazwa jednostki
        internalKSeFIdentifier:
          type: string
          description: Identyfikator wewnętrzny KSeF
        invoiceEmail:
          type: string
          description: Faktura email
        displayNamePl:
          type: string
          description: Nazwa wyświetlana po polsku
        displayNameEn:
          type: string
          description: Nazwa wyświetlana po angielsku
      description: Dział gospodarczy UW
    ProjectFinancingExternalResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        comments:
          type: string
        amount:
          type: number
        category:
          type: string
        projectRole:
          type: string
          enum:
          - LEADER
          - CONSORTIUM_MEMBER
          - FORMALIZED_COLLABORATION
          - ECONOMIC_PARTNER
        contractNumber:
          type: string
        contractDate:
          type: string
          format: date
        businessEntityId:
          type: string
        businessEntityName:
          type: string
        businessEntityAcro:
          type: string
        businessEntityCountryCode:
          type: string
      description: Informacje o podmiotach zewnętrznych finansowania
    ProjectAssetResponse:
      type: object
      properties:
        projectId:
          type: string
        sapId:
          type: string
        assetCustomName:
          type: string
        name:
          type: string
        description:
          type: string
        purposeOfUse:
          type: string
        shelfLifeFrom:
          type: string
          format: date
        shelfLifeTo:
          type: string
          format: date
        inventoryNumber:
          type: string
        commercialUsage:
          type: boolean
        commercialUsageFrom:
          type: string
          format: date
        otDate:
          type: string
          format: date
        otNumber:
          type: string
        subInventoryNumber:
          type: string
        value:
          type: number
        currency:
          type: string
    AbstractResponse:
      type: object
      properties:
        id:
          type: string
          description: Id abstraltu
        langCode:
          type: string
          description: kod języka typu PL, EN, EN-GB, itp - klucz naturalny do Language, zgodny z ISO (patrz Language)
        title:
          type: string
          description: 'tytuł wynalazku/patentu/wzoru użytkowego/nazwa gatunku/nazwa botaniczna/nazwa odmiany w danym języku '
        abstr:
          type: string
          description: streszczenie opisu wynalazku/wzoru użytkowego w danym języku
        keyw:
          type: array
          description: słowa kluczowe w danym języku
          items:
            type: string
            description: słowa kluczowe w danym języku
        orderIndex:
          type: integer
          description: 'kolejność wyświetlania abstraktów (domyślnie: 0)'
          format: int32
        objectId:
          type: string
          description: Id obiektu
        objectType:
          type: string
          description: Typ obiektu
        original:
          type: boolean
          description: czy streszczenie jest w języku oryginału
    ProjectDisciplineResponse:
      type: object
      properties:
        isDisciplineAssigned:
          type: boolean
        scienceDisciplines:
          type: array
          items:
            $ref: '#/components/schemas/ProjectScienceDisciplineResponse'
        specialities:
          type: array
          items:
            type: string
    ProjectLinkResponse:
      type: object
      properties:
        id:
          type: string
          description: id linku
        projectId:
          type: string
          description: id projektu
        name:
          type: string
          description: nazwa linku
        url:
          type: string
          description: link
      description: Link do projektu
    ProjectFinancingReport:
      type: object
      properties:
        count:
          type: integer
          format: int32
        type:
          type: string
        grossPlanned:
          type: number
        netPlanned:
          type: number
        indirectPlanned:
          type: number
        openAccessPlanned:
          type: number
        apparatusPlanned:
          type: number
        grossRealized:
          type: number
        netRealized:
          type: number
        indirectRealized:
          type: number
        openAccessRealized:
          type: number
        apparatusRealized:
          type: number
        projectId:
          type: string
        level:
          type: integer
          format: int32
    ProjectScienceDisciplineResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        scienceDisciplineCode:
          type: string
        scienceDisciplineName:
          type: string
        scienceDisciplineNameEn:
          type: string
        scienceFieldCode:
          type: string
        scienceFieldName:
          type: string
        scienceFieldNameEn:
          type: string
        percentage:
          type: number
    ProjectProfileContactResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        profileId:
          type: string
        profileName:
          type: string
        profileEmails:
          type: array
          items:
            type: string
        profilePhone:
          type: string
        unitCode:
          type: string
        unitNamePl:
          type: string
        unitNameEn:
          type: string
        email:
          type: string
    ProjectTeamResponse:
      type: object
      properties:
        projectProfileContacts:
          type: array
          items:
            $ref: '#/components/schemas/ProjectProfileContactResponse'
        projectMembers:
          type: array
          items:
            $ref: '#/components/schemas/ProjectProfileMemberResponse'
        details:
          $ref: '#/components/schemas/ProjectTeamDetailsResponse'
    UwUnitResponse:
      type: object
      properties:
        uwCode:
          type: string
          description: Unikalny kod jednostki
        namePl:
          type: string
          description: Polska nazwa jednostki
        nameEn:
          type: string
          description: Angielska nazwa jednostki
        parentUnitCode:
          type: string
          description: Unikalny kod jednostki nadrzędnej
        url:
          type: string
          description: Adres strony jednostki
        isVisible:
          type: boolean
        sapUnitCode:
          type: string
        existsFrom:
          type: string
          format: date
        existsTo:
          type: string
          format: date
      description: Jednostki organizacyjne UW
    ProjectFinancingUwResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        unitCode:
          type: string
        year:
          type: integer
          format: int32
        unitNamePl:
          type: string
        unitNameEn:
          type: string
        grossPlanned:
          type: number
        grossRealized:
          type: number
        netPlanned:
          type: number
        netRealized:
          type: number
        openAccessPlanned:
          type: number
        openAccessRealized:
          type: number
        indirectPlanned:
          type: number
        indirectRealized:
          type: number
        apparatusPlanned:
          type: number
        apparatusRealized:
          type: number
    ProjectFinancingResponse:
      type: object
      properties:
        financingUwUnits:
          type: array
          items:
            $ref: '#/components/schemas/ProjectFinancingUwResponse'
        financingInstitutions:
          type: array
          items:
            $ref: '#/components/schemas/ProjectFinancingInstitutionResponse'
        financingExternalInstitutions:
          type: array
          items:
            $ref: '#/components/schemas/ProjectFinancingExternalResponse'
        projectUwUnits:
          type: array
          items:
            $ref: '#/components/schemas/ProjectUwUnitResponse'
        details:
          $ref: '#/components/schemas/ProjectFinancingDetailsResponse'
        additionalInfo:
          $ref: '#/components/schemas/ProjectFinancingAdditionalInfoResponse'
    ProjectTeamDetailsResponse:
      type: object
      properties:
        regulation75:
          type: string
          enum:
          - P
          - F
          - ND
        hasManager:
          type: boolean
        managerProfileId:
          type: string
        managerProfileName:
          type: string
        researchManagerProfileId:
          type: string
        researchManagerProfileName:
          type: string
    ProjectAbstractResponse:
      type: object
      properties:
        projectName:
          type: string
        langCode:
          type: string
        projectAbstract:
          type: string
        keywords:
          type: array
          items:
            type: string
        otherAbstracts:
          type: array
          items:
            $ref: '#/components/schemas/AbstractResponse'
    ProjectContractTypeResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        mainType:
          type: string
        mainTypeOld:
          type: string
        contractType:
          type: string
        institution:
          type: string
        groupName:
          type: string
        typeName:
          type: string
      description: Informacje o typie projektu
    RecordOwnersResponse:
      type: object
      properties:
        departmentOwners:
          type: array
          items:
            $ref: '#/components/schemas/UwEconomicDepartmentResponse'
        personOwners:
          type: array
          items:
            $ref: '#/components/schemas/PersonViewResponse'
    ProjectResponse:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
          description: id źródłowe
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        acro:
          type: string
        polonId:
          type: string
        financingInstitutionId:
          type: string
        financingInstitutionName:
          type: string
        intermediaryInstitutionId:
          type: string
        intermediaryInstitutionName:
          type: string
        internationalProject:
          type: boolean
        internationalDetailProjectId:
          type: integer
          format: int32
        budget:
          type: number
        budgetUw:
          type: number
        partnershipProject:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        projectAbstract:
          type: string
        roleUw:
          type: string
          enum:
          - LEADER
          - CONSORTIUM_MEMBER
          - SELF_EXECUTION
          - SUBCONTRACTOR
        startDateUw:
          type: string
          format: date
        endDateUw:
          type: string
          format: date
        settlementDate:
          type: string
          format: date
        pspElement:
          type: string
        projectName:
          type: string
        projectTypeId:
          type: integer
          format: int32
        projectProgramId:
          type: integer
          format: int32
        projectProgramDetailedId:
          type: integer
          format: int32
        competitionNumber:
          type: string
        competitionName:
          type: string
        projectNumber:
          type: string
        registrationNumber:
          type: string
        grantAgreementNumber:
          type: string
        grantAgreementDate:
          type: string
          format: date
        currencyCode:
          type: string
        subjectsCount:
          type: integer
          format: int32
        decisionDate:
          type: string
          format: date
        decisionNumber:
          type: string
        status:
          type: string
          enum:
          - UNDER_EVALUATION
          - AWAITING
          - IN_PROGRESS
          - COMPLETED_NOT_SETTLED
          - COMPLETED_SETTLED
        auditRequired:
          type: boolean
        shelfLifeDate:
          type: string
          format: date
        responsibleProfileId:
          type: string
        responsibleProfileName:
          type: string
        responsibleUnitCode:
          type: string
        responsibleUnitNamePl:
          type: string
        responsibleUnitNameEn:
          type: string
        appendicesCount:
          type: integer
          format: int32
        managerProfileId:
          type: string
        managerProfileName:
          type: string
        researchManagerProfileId:
          type: string
        researchManagerProfileName:
          type: string
        hasManager:
          type: boolean
        created:
          type: string
          format: date-time
        departmentOwners:
          type: array
          items:
            type: string
        personOwners:
          type: array
          items:
            type: string
        uwContractNumber:
          type: string
        isPrivate:
          type: boolean
    ProjectUwUnitResponse:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        unitCode:
          type: string
        unitNamePl:
          type: string
        unitNameEn:
          type: string
        fromDate:
          type: string
          format: date
        toDate:
          type: string
          format: date
        pspElement:
          type: string
        main:
          type: boolean
    ProjectOtherInfoResponse:
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/ProjectLinkResponse'
        appendices:
          type: array
          items:
            $ref: '#/components/schemas/ProjectAppendixResponse'
        notes:
          type: string
        projectContractTypeId:
          type: integer
          format: int32
    ProjectFinancingAdditionalInfoResponse:
      type: object
      properties:
        bankAccountNumber:
          type: string
        financingModel:
          type: string
          enum:
          - ADVANCE_PAYMENT
          - REFUNDED
          - MIXED
        vatQualification:
          type: string
          enum:
          - FULL_EXEMPTION
          - PRE_FACTOR
          - STRUCTURE_INDICATOR
          - PRE_FACTOR_AND_STRUCTURE_INDICATOR
          - NO_EXEMPTION
        publicAid:
          type: boolean
        deMinimisAid:
          type: boolean
    PersonViewResponse:
      type: object
      properties:
        personId:
          type: string
        university:
          type: string
          enum:
          - CUNI
          - UAH
          - SU
          - KU
          - UNIMI
          - UW
          - UNIGE
          - PARIS_2
        orcid:
          type: string
        firstName:
          type: string
        middleNames:
          type: string
        lastName:
          type: string
        email:
          type: string
        profileId:
          type: string
        degree:
          type: string
        universityIndexNumber:
          type: string
    ProjectReportResponse:
      type: object
      properties:
        details:
          $ref: '#/components/schemas/ProjectResponse'
        abstractDetails:
          $ref: '#/components/schemas/ProjectAbstractResponse'
        assets:
          type: array
          items:
            $ref: '#/components/schemas/ProjectAssetResponse'
        contractType:
          $ref: '#/components/schemas/ProjectContractTypeResponse'
        discipline:
          $ref: '#/components/schemas/ProjectDisciplineResponse'
        financing:
          $ref: '#/components/schemas/ProjectFinancingResponse'
        otherInfo:
          $ref: '#/components/schemas/ProjectOtherInfoResponse'
        owners:
          $ref: '#/components/schemas/RecordOwnersResponse'
        team:
          $ref: '#/components/schemas/ProjectTeamResponse'
    ProjectFinancingDetailsResponse:
      type: object
      properties:
        grantAgreementNumber:
          type: string
        grantAgreementDate:
          type: string
          format: date
        budget:
          type: number
        budgetUw:
          type: number
        grantAmount:
          type: number
        ownContributionRequired:
          type: boolean
        ownContribution:
          type: number
    ProjectProfileMemberResponse:
      type: object
      properties:
        id:
          type: string
        profileId:
          type: string
        projectId:
          type: string
        profileName:
          type: string
        roleId:
          type: integer
          format: int32
        roleNamePl:
          type: string
        roleNameEn:
          type: string
        regulation75RoleId:
          type: integer
          format: int32
        regulation75RoleNamePl:
          type: string
        regulation75RoleNameEn:
          type: string
        unitCode:
          type: string
        unitNamePl:
          type: string
        unitNameEn:
          type: string
        fromDate:
          type: string
          format: date
        toDate:
          type: string
          format: date
    ProjectAppendixResponse:
      type: object
      properties:
        id:
          type: string
          description: id aneksu do projektu
        projectId:
          type: string
          description: id projektu
        number:
          type: string
          description: id numer do aneksu
        documentDate:
          type: string
          format: date
        notes:
          type: string
      description: Aneks do projektu
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
