openapi: 3.2.0
info:
  title: OpenAPI definition Principal API
  version: v0
servers:
- url: https://api.sp4eu.uw.edu.pl
tags:
- name: Principal
paths:
  /principal:
    get:
      tags:
      - Principal
      summary: Principal bez mapowania atrybutów.
      operationId: principal
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DefaultSaml2AuthenticatedPrincipal'
      security:
      - Authorization: []
  /principal/edugain:
    get:
      tags:
      - Principal
      summary: Principal z zamapowanymi wybranymi atrybutami w kontekście edugaina
      description: 'Patrz: https://www.switch.ch/aai/support/documents/attributes'
      operationId: edugainPrincipal
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EdugainPrincipal'
      security:
      - Authorization: []
  /principal/authenticated:
    get:
      tags:
      - Principal
      summary: authenticated
      operationId: authenticated
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
      security:
      - Authorization: []
components:
  schemas:
    EdugainPrincipal:
      type: object
      properties:
        personId:
          type: string
        eduPersonPrincipalName:
          type: string
        mail:
          type: string
        displayName:
          type: string
        givenName:
          type: string
        sn:
          type: string
        eduPersonAffiliation:
          type: array
          items:
            type: string
        schacHomeOrganization:
          type: string
        lastLoginTime:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        university:
          type: string
    DefaultSaml2AuthenticatedPrincipal:
      type: object
      properties:
        name:
          type: string
        attributes:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
        sessionIndexes:
          type: array
          items:
            type: string
        relyingPartyRegistrationId:
          type: string
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
