{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.sp4eu.uw.edu.pl"}],"paths":{"/api/v1/MobilityOptionHome/ApplicationProcedure/Content":{"put":{"tags":["MobilityOptionHome"],"summary":"Ustawianie procedury aplikacji dla uniwersytetu","operationId":"setContentEnHost","parameters":[{"name":"university","in":"query","required":true,"schema":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticlePreviewResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Tutorial/{tutorialId}":{"put":{"tags":["TutorialAdmin"],"summary":"Aktualizacja tutorialu","operationId":"updateTutorial","parameters":[{"name":"tutorialId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TutorialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sp4euTutorialResponse"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["TutorialAdmin"],"summary":"Usunięcie tutorialu z relacjami","operationId":"removeTutorial","parameters":[{"name":"tutorialId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/RegistrationInfo/{courseRegistrationInfoId}":{"put":{"tags":["RegistrationAdmin"],"summary":"Aktualizacja informacji o rejestracji","operationId":"updateCourseRegistrationInfo","parameters":[{"name":"courseRegistrationInfoId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/MobilityOption/{id}":{"get":{"tags":["MobilityOptionAdmin"],"summary":"Czytanie informacji o opcji mobilności  z podanym id","operationId":"getMobilityOption4euById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MobilityOptionResponse"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["MobilityOptionAdmin"],"summary":"Aktualizacja opcji mobilności","operationId":"updateMobilityOptions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobilityOptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MobilityOptionResponse"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["MobilityOptionAdmin"],"summary":"Usuwanie opcji mobilności","operationId":"removeMobilityOption","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/MobilityOption/{id}/HostApplicationProcedure":{"get":{"tags":["MobilityOptionAdmin"],"summary":"Czytanie procedury aplikacji dla opcji mobilności po id","operationId":"getHostApplicationProceduresForOption","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticlePreviewResponse"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["MobilityOptionAdmin"],"summary":"Ustawianie procedury aplikacji","operationId":"setContentEnHost_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticlePreviewResponse"}}}}},"security":[{"Authorization":[]}]},"delete":{"tags":["MobilityOptionAdmin"],"summary":"Usuwanie procedury aplikacji dla opcji mobilności po id","operationId":"removeApplicationProcedure","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{documentId}":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Wyświetlanie danych konkretnego certyfikatu.","operationId":"getCertificateById","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentPersonResponse"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["CourseCertificateAdmin"],"summary":"Aktualizacja danych certyfikatu.","operationId":"updateCertificate","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCertificateRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["CourseCertificateAdmin"],"summary":"Usunięcie certyfikatu (wraz z powiązanymi plikami).","operationId":"deleteCertificate","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{documentId}/File/{fileId}":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Wyświetlanie danych pliku.","operationId":"getFileById","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttachedFileResponse"}}}}},"security":[{"Authorization":[]}]},"put":{"tags":["CourseCertificateAdmin"],"summary":"Aktualizacja danych pliku.","operationId":"updateFile","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachedFileRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["CourseCertificateAdmin"],"summary":"Usunięcie pliku.","operationId":"deleteFile","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{courseId}":{"put":{"tags":["CourseAdmin"],"summary":"Aktualizacja kursu","operationId":"updateCourse","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{courseId}/Syllabus/{courseSyllabusId}":{"put":{"tags":["CourseAdmin"],"summary":"Aktualizowanie sylabusa kursu","operationId":"updateCourseSyllabus","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"courseSyllabusId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseSyllabusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSyllabusResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{courseId}/Profile":{"put":{"tags":["CourseAdmin"],"summary":"Aktualizacja profilu dla kursu","operationId":"updateCourseProfile","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseProfileSp4euRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseProfileResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Profile":{"get":{"tags":["Profile"],"summary":"Listowanie danych o profilach niezależnie od pola is_publicly_visible","operationId":"queryForProfile","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"firstName,middleNames,lastName"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseQueryProfileItemResponse"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["Profile"],"summary":"Dodawanie profilu","operationId":"addProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/PersonRole":{"get":{"tags":["PersonRole"],"operationId":"findAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PersonRoleResponse"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["PersonRole"],"operationId":"upsertRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]},"delete":{"tags":["PersonRole"],"operationId":"deleteRole","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption":{"get":{"tags":["HousingOption"],"summary":"Listowanie danych o opcjach zakwaterowania (z paginacją - odata).","operationId":"queryHousingOptions","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string","default":"allpages"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}},{"name":"showOnlyPublished","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseHousingOptionsResponse"}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["HousingOption"],"summary":"Dodanie nowej opcji zakwaterowania.","operationId":"addHousingOption","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HousingOptionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HousingOptionsResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption/{id}/File/Upload":{"post":{"tags":["HousingOption"],"summary":"Dodanie pliku dla opcji zakwaterowania o podanym id.","operationId":"uploadHousingOptionFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Tutorial":{"get":{"tags":["TutorialAdmin"],"summary":"Listowanie danych o tutorialach","operationId":"queryTutorialsForAdmin","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QueryTutorialItemSp4euResponse"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["TutorialAdmin"],"summary":"Dodawanie tutorialu","operationId":"addTutorial","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TutorialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sp4euTutorialResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/RegistrationInfo":{"get":{"tags":["RegistrationAdmin"],"summary":"Pobranie informacji o rejestracjach.","operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["RegistrationAdmin"],"summary":"Dodawanie informacji o rejestracji","operationId":"addCourseRegistrationInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/MobilityOption":{"post":{"tags":["MobilityOptionAdmin"],"summary":"Utworzenie opcji mobilności wraz z artykułem i powiązaniem","operationId":"createMobilityOptionAndSetApplicationProcedure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobilityOptionAndArticleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MobilityOptionResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course":{"get":{"tags":["CourseAdmin"],"summary":"Listowanie danych o kursach.","operationId":"getAllCourses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseSp4euResponse"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["CourseAdmin"],"summary":"Dodawanie kursu","operationId":"addCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Wyświetlanie listy danych wszystkich certyfikatów.","operationId":"findAllCertificates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentPersonResponse"}}}}}},"security":[{"Authorization":[]}]},"post":{"tags":["CourseCertificateAdmin"],"summary":"Dodanie certyfikatu (bez załączonego pliku).","operationId":"addCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCertificateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentPersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{documentId}/File":{"post":{"tags":["CourseCertificateAdmin"],"summary":"Dodanie pliku.","operationId":"addFile","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"attachedFileRequest":{"$ref":"#/components/schemas/AttachedFileRequest"},"file":{"type":"string","format":"binary"}},"required":["attachedFileRequest","file"]}}}},"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{courseId}/Syllabus":{"post":{"tags":["CourseAdmin"],"summary":"Dodawanie sylabusa kursu","operationId":"addCourseSyllabus","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseSyllabusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSyllabusResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/ReadFromFile":{"post":{"tags":["CourseAdmin"],"summary":"czytanie kursów z pliku xls i xlsx","operationId":"readFromFile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"multipartFile":{"type":"string","format":"binary"}},"required":["multipartFile"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseSp4euImportRequest"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/Import":{"post":{"tags":["CourseAdmin"],"summary":"Importowanie kursu","operationId":"importCourse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseSp4euImportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSp4euImportResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/Export/SubjectIds":{"post":{"tags":["CourseAdmin"],"summary":"Eksport wybranych kursów do pliku xlsx na podstawie subjectIds.","operationId":"exportCoursesBySubjectIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}},"x-is-file":"true"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/Export/CourseIds":{"post":{"tags":["CourseAdmin"],"summary":"Eksport wybranych kursów do pliku xlsx na podstawie courseIds.","operationId":"exportCoursesByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}},"x-is-file":"true"}},"security":[{"Authorization":[]}]}},"/system/git":{"get":{"tags":["system-rest"],"operationId":"gitProperties","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GitProperties"}}}}}}},"/system/build":{"get":{"tags":["system-rest"],"operationId":"buildProperties","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildProperties"}}}}}}},"/saml2/service-provider-metadata":{"get":{"tags":["SamlMetadata"],"operationId":"serviceProviderMetadata","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/saml2/idp":{"get":{"tags":["SamlMetadata"],"summary":"available idps","operationId":"availableIdentityProviders","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/principal":{"get":{"tags":["Principal"],"summary":"Principal bez mapowania atrybutów. Zwraca dokładnie te atrybuty, które utrzymujemy z IDP (Identity Provider).","operationId":"principal","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DefaultSaml2AuthenticatedPrincipal"}}}}},"security":[{"Authorization":[]}]}},"/principal/edugain":{"get":{"tags":["Principal"],"summary":"Principal z zamapowanymi wybranymi atrybutami w kontekście edugaina.","description":"Patrz: <a href='https://www.switch.ch/aai/support/documents/attributes'>https://www.switch.ch/aai/support/documents/attributes</a>","operationId":"edugainPrincipal","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EdugainPrincipal"}}}}},"security":[{"Authorization":[]}]}},"/principal/authenticated":{"get":{"tags":["Principal"],"summary":"authenticated","operationId":"authenticated","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/User/Document":{"get":{"tags":["PersonDocument"],"operationId":"findAllDocuments","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/User/Document/{documentId}":{"get":{"tags":["PersonDocument"],"operationId":"findDocument","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/User/Document/{documentId}/Download":{"get":{"tags":["PersonDocument"],"summary":"Pobranie powiązanych plików jako zip","operationId":"downloadAttachedFiles","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Tutorial":{"get":{"tags":["Tutorial"],"summary":"Listowanie danych o tutorialach (z paginacją - odata).","operationId":"queryTutorials","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string","default":"allpages"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"creationTime desc"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseQueryTutorialItemSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Tutorial/{id}":{"get":{"tags":["Tutorial"],"summary":"Pobranie danych o tutorialu o podanym id.","operationId":"getTutorialById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sp4euTutorialResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Profile/{id}":{"get":{"tags":["Profile"],"summary":"Czytanie profilu z podanym id","operationId":"getProfileById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfileResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Profile/All":{"get":{"tags":["Profile"],"summary":"Listowanie danych o profilach","operationId":"findAllProfiles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QueryProfileItemResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/PersonRole/{id}":{"get":{"tags":["PersonRole"],"operationId":"findAll_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PersonRoleResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/PersonRole/SearchPerson":{"get":{"tags":["PersonRole"],"operationId":"searchPersonForCourse","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":100}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"lastName,firstName,email"}},{"name":"searchValue","in":"query","required":false,"schema":{"type":"string","default":"searchValue"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponsePersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/PersonRole/SearchPerson/{personId}":{"get":{"tags":["PersonRole"],"summary":"Czytanie informacji o osobie","operationId":"getSearchPersonForCourse","parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/MobilityOption":{"get":{"tags":["MobilityOption"],"summary":"Listowanie danych o opcjach mobilności (z paginacją - odata).","operationId":"queryMobilityOptions","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string","default":"allpages"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"creationTime desc"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseMobilityOptionResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/MobilityOptionHome/ApplicationProcedure":{"get":{"tags":["MobilityOptionHome"],"summary":"Pobranie procedur aplikacji dla uniwersytetu.","operationId":"getHomeApplicationProceduresForOption","parameters":[{"name":"university","in":"query","required":true,"schema":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticlePreviewResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/MobilityOption/{id}":{"get":{"tags":["MobilityOption"],"summary":"Pobranie danych o opcji mobilności o podanym id.","operationId":"getMobilityOptionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MobilityOptionResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/MobilityOption/{id}/HostApplication":{"get":{"tags":["MobilityOption"],"summary":"Pobranie procedur aplikacji dla opcji mobilności o podanym id.","operationId":"getHostApplicationProceduresForOption_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ArticlePreviewResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption/{id}":{"get":{"tags":["HousingOption"],"summary":"Pobranie danych o opcji zakwaterowania o podanym id.","operationId":"getHousingOptionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HousingOptionsResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption/{id}/File":{"get":{"tags":["HousingOption"],"summary":"Listowanie plików dla opcji zakwaterowania o podanym id.","operationId":"getHousingOptionFiles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HousingOptionFileResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption/{id}/File/{fileId}/Download":{"get":{"tags":["HousingOption"],"summary":"Pobranie pliku dla opcji zakwaterowania o podanym id.","operationId":"downloadHousingOptionFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["LARGE","MEDIUM","SMALL"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/HousingOption/Principal":{"get":{"tags":["HousingOption"],"summary":"Listowanie danych o opcjach zakwaterowania osoby (z paginacją - odata).","operationId":"queryPrincipalHousingOptions","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string","default":"allpages"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}},{"name":"showOnlyPublished","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseHousingOptionsResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Course":{"get":{"tags":["Course"],"summary":"Listowanie danych o kursach (z paginacją - odata).","operationId":"queryCourses","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":1000}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string","default":"allpages"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string","default":"()"}},{"name":"startDate4eu","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"endDate4eu","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"applicationDeadlineFrom","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"applicationDeadlineTo","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponseCourseSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Course/{id}":{"get":{"tags":["Course"],"summary":"Pobranie danych o kursie o podanym id.","operationId":"getCourseById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Course/{id}/Syllabus":{"get":{"tags":["Course"],"summary":"Pobranie danych o rejestracji kursu o podanym id.","operationId":"getCourseSyllabus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSyllabusResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Course/{id}/RegistrationInfo":{"get":{"tags":["Course"],"summary":"Pobranie informacji o rejestracji kursu o podanym id.","operationId":"getCourseRegistrationInfo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Course/{id}/Profile":{"get":{"tags":["Course"],"summary":"Pobranie profili instruktorów kursu o podanym id.","operationId":"getCourseInstructors","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseProfileResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Tutorial/{id}":{"get":{"tags":["TutorialAdmin"],"summary":"Pobranie danych o tutorialu o podanym id.","operationId":"getTutorialByIdForAdmin","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Sp4euTutorialResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/RegistrationInfo/{id}":{"get":{"tags":["RegistrationAdmin"],"summary":"Pobranie informacji o rejestracji kursu o podanym id.","operationId":"getCourseRegistrationInfo_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Person/SearchPerson":{"get":{"tags":["PersonAdmin"],"operationId":"searchPersonForCourse_1","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":100}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"lastName,firstName,email"}},{"name":"searchValue","in":"query","required":false,"schema":{"type":"string","default":"searchValue"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponsePersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Person/SearchPerson/{personId}":{"get":{"tags":["PersonAdmin"],"summary":"Czytanie informacji o osobie","operationId":"getSearchPersonForCourse_1","parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Person/All":{"get":{"tags":["PersonAdmin"],"summary":"Czytanie informacji o wszystkich osobach","operationId":"getAllPersons","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PersonResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/MobilityOption/All":{"get":{"tags":["MobilityOptionAdmin"],"summary":"Listowanie wszystkich opcji mobilności","operationId":"getAllMobilityOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MobilityOptionResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{personId}/Person":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Wyświetlanie listy danych certyfikatów dla danej osoby.","operationId":"findByPersonId","parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentPersonResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{documentId}/Download":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Pobranie wszystkich plików dla danego certyfikatu.","operationId":"downloadAll","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{documentId}/Download/{fileId}":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Pobranie konkretnego pliku.","operationId":"download","parameters":[{"name":"documentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/{courseId}/Course":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Wyświetlanie listy danych certyfikatów dla danego kursu.","operationId":"findByCourseId","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentPersonResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/SearchPerson":{"get":{"tags":["CourseCertificateAdmin"],"operationId":"searchPersonForCourse_2","parameters":[{"name":"$skip","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"$top","in":"query","required":false,"schema":{"type":"integer","format":"int64","default":10,"maximum":100}},{"name":"$inlinecount","in":"query","required":false,"schema":{"type":"string"}},{"name":"$orderby","in":"query","required":false,"schema":{"type":"string","default":"lastName,firstName,email"}},{"name":"searchValue","in":"query","required":false,"schema":{"type":"string","default":"searchValue"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OdataResponsePersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/CourseCertificate/SearchPerson/{personId}":{"get":{"tags":["CourseCertificateAdmin"],"summary":"Czytanie informacji o osobie","operationId":"getSearchPersonForCourse_2","parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PersonResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{id}":{"get":{"tags":["CourseAdmin"],"summary":"Pobranie danych o kursie o podanym id.","operationId":"getCourseById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSp4euResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{id}/Syllabus":{"get":{"tags":["CourseAdmin"],"summary":"Pobranie danych o rejestracji kursu o podanym id.","operationId":"getCourseSyllabus_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseSyllabusResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{id}/RegistrationInfo":{"get":{"tags":["CourseAdmin"],"summary":"Pobranie informacji o rejestracji kursu o podanym id.","operationId":"getCourseRegistrationInfo_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{id}/Profile":{"get":{"tags":["CourseAdmin"],"summary":"Pobranie profili instruktorów kursu o podanym id.","operationId":"getCourseInstructors_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CourseProfileResponse"}}}}}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/Import/FileTemplate":{"get":{"tags":["CourseAdmin"],"summary":"pobieranie szablonu pliku xlsx eksportu kursów do pliku ","operationId":"getCoursesFileTemplate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}},"x-is-file":"true"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/Export":{"get":{"tags":["CourseAdmin"],"summary":"Eksport kursów do pliku xlsx. Jeżeli 'year' nie zostanie podany - to zwracane są kursy, w których rok akademicki nie jest uzupełniony.","operationId":"exportCourses","parameters":[{"name":"publishedBy","in":"query","required":true,"schema":{"type":"string"}},{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}},"x-is-file":"true"}},"security":[{"Authorization":[]}]}},"/api/v1/Admin/Course/{courseId}/Remove":{"delete":{"tags":["CourseAdmin"],"summary":"Usunięcie kursu","description":"Usuwa kurs z istniejącymi relacjami. Wywołanie funkcji z opcją dryRun nie powoduje zmian w bazie danych. Zwraca listę relacji patentu","operationId":"removeCourses","parameters":[{"name":"courseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"dryRun","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"Authorization":[]}]}}},"components":{"schemas":{"ArticleRequest":{"type":"object","properties":{"titlePl":{"type":"string"},"titleEn":{"type":"string"},"contentPl":{"type":"string"},"contentEn":{"type":"string"},"signification":{"type":"string"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true},"created":{"type":"string"},"visible":{"type":"boolean"},"visibleFrom":{"type":"string","format":"date"},"visibleTo":{"type":"string","format":"date"}}},"ArticlePreviewResponse":{"type":"object","properties":{"id":{"type":"string"},"titlePl":{"type":"string"},"titleEn":{"type":"string"},"contentPl":{"type":"string"},"contentEn":{"type":"string"},"visibleFrom":{"type":"string","format":"date"},"visibleTo":{"type":"string","format":"date"},"signification":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"visible":{"type":"boolean"},"created":{"type":"string"}}},"TutorialRequest":{"type":"object","properties":{"tutorialCode":{"type":"string"},"isPublished":{"type":"boolean"},"providedBy":{"type":"array","items":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"title":{"type":"string"},"category":{"type":"string","enum":["SelfOrganization","OnlineLearning","CulturalAwareness","GroupDynamics","HandlingConflicts"]},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"level":{"type":"string","enum":["BASIC","MEDIUM","ADVANCED"]},"duration":{"type":"string"},"url":{"type":"string"},"isFree":{"type":"boolean"},"description":{"type":"string"}}},"Sp4euTutorialResponse":{"type":"object","properties":{"tutorialId":{"type":"string"},"tutorialCode":{"type":"string"},"isPublished":{"type":"boolean"},"providedBy":{"type":"array","items":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"creationTime":{"type":"string"},"title":{"type":"string"},"category":{"type":"string","enum":["SelfOrganization","OnlineLearning","CulturalAwareness","GroupDynamics","HandlingConflicts"]},"languages":{"type":"array","items":{"type":"string"}},"level":{"type":"string","enum":["BASIC","MEDIUM","ADVANCED"]},"duration":{"type":"string"},"url":{"type":"string"},"isFree":{"type":"boolean"},"description":{"type":"string"},"cfTitle":{"type":"string","deprecated":true},"cfKeyw":{"type":"array","deprecated":true,"items":{"type":"string","deprecated":true}}}},"CourseRegistrationInfoRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"CourseRegistrationInfoResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"courseIds":{"type":"array","items":{"type":"string"}},"courseNames":{"type":"array","items":{"type":"string"}}}},"MobilityOptionRequest":{"type":"object","properties":{"mobilityProgram":{"type":"string"},"fundingSource":{"type":"string"},"action":{"type":"string"},"university":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"suitableFor":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","Staff"]},"uniqueItems":true},"contactDetails":{"type":"string"},"duration":{"type":"string"},"description":{"type":"string"},"applicationDeadline":{"type":"string"},"areaOfStudy":{"type":"string"},"type":{"type":"string"}}},"MobilityOptionResponse":{"type":"object","properties":{"id":{"type":"string"},"mobilityProgram":{"type":"string"},"university":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"suitableFor":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","Staff"]}},"fundingSource":{"type":"string"},"action":{"type":"string"},"contactDetails":{"type":"string"},"description":{"type":"string"},"applicationProcedureArticleId":{"type":"string"},"is4eu":{"type":"boolean"},"type":{"type":"string"},"duration":{"type":"string"},"applicationDeadline":{"type":"string"},"areaOfStudy":{"type":"string"}}},"CourseCertificateRequest":{"type":"object","properties":{"personId":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"courseId":{"type":"string"},"courseName":{"type":"string"}},"required":["courseId","courseName","name","personId"]},"AttachedFileRequest":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"}}},"CourseRequest":{"type":"object","properties":{"subjectId":{"type":"string"},"subjectCode":{"type":"string"},"title":{"type":"string"},"term":{"type":"string"},"ects":{"type":"number","format":"double"},"is4eu":{"type":"boolean"},"sp4euPublicationDate":{"type":"string","format":"date"},"flagships4eu":{"type":"array","items":{"type":"string","enum":["FLAG_1","FLAG_2","FLAG_3","FLAG_4"]},"uniqueItems":true},"levels":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","PST"]},"uniqueItems":true},"faculties":{"type":"array","items":{"type":"string"},"uniqueItems":true},"languages":{"type":"array","items":{"type":"string"},"uniqueItems":true},"url":{"type":"string"},"providedBy":{"type":"array","items":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"uniqueItems":true},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"year":{"type":"integer","format":"int32"},"workload":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"placesLimit4eu":{"type":"integer","format":"int32"},"levels4eu":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","PST"]},"uniqueItems":true},"startDate4eu":{"type":"string","format":"date"},"endDate4eu":{"type":"string","format":"date"},"title4eu":{"type":"string"},"ects4eu":{"type":"number","format":"double"},"facultyOrUnit4eu":{"type":"string"},"applicationDeadline":{"type":"string","format":"date"},"sharedCompetencies4eu":{"type":"array","items":{"type":"string","enum":["Multilingualism","DataLiteracy","CriticalThinking","Entrepreneurship","SocialEngagement"]},"uniqueItems":true},"learningPathways4eu":{"type":"array","items":{"type":"string","enum":["EuropeanCitizenship","Multilingualism","BiodiversityEcologyEvolution"]},"uniqueItems":true},"teachingMode":{"type":"string","enum":["Physical","Online","Blended","Hybrid"]},"teachingMode4eu":{"type":"string","enum":["Physical","Online","Blended","Hybrid"]},"areasOfInterests":{"type":"array","items":{"type":"string"},"uniqueItems":true},"academicYear":{"type":"string"},"registrationInfoId":{"type":"string"},"additionalInfo":{"type":"string"}}},"CourseSp4euResponse":{"type":"object","properties":{"courseId":{"type":"string"},"subjectId":{"type":"string"},"subjectCode":{"type":"string"},"term":{"type":"string"},"sp4euPublicationDate":{"type":"string","format":"date"},"flagships4eu":{"type":"array","items":{"type":"string","enum":["FLAG_1","FLAG_2","FLAG_3","FLAG_4"]}},"faculties":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"url":{"type":"string"},"providedBy":{"type":"array","items":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"year":{"type":"integer","format":"int32"},"placesLimit4eu":{"type":"integer","format":"int32"},"workload":{"type":"integer","format":"int32"},"title":{"type":"string"},"levels4eu":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","PST"]}},"startDate4eu":{"type":"string","format":"date"},"endDate4eu":{"type":"string","format":"date"},"title4eu":{"type":"string"},"facultyOrUnit4eu":{"type":"string"},"ects4eu":{"type":"number","format":"double"},"importSourceType":{"type":"string"},"applicationDeadline":{"type":"string","format":"date"},"sharedCompetencies4eu":{"type":"array","items":{"type":"string","enum":["Multilingualism","DataLiteracy","CriticalThinking","Entrepreneurship","SocialEngagement"]}},"learningPathways4eu":{"type":"array","items":{"type":"string"}},"teachingMode4eu":{"type":"string","enum":["Physical","Online","Blended","Hybrid"]},"areasOfInterests":{"type":"array","items":{"type":"string"}},"registrationInfoId":{"type":"string"},"academicYear":{"type":"string"},"additionalInfo":{"type":"string"},"creationTime":{"type":"string"},"levels":{"type":"array","items":{"type":"string","enum":["BA","MA","PhD","PST"]}}}},"CourseSyllabusRequest":{"type":"object","properties":{"shortDescription":{"type":"string"},"prerequirements":{"type":"string"},"learningOutcomes":{"type":"string"},"assessmentsInfo":{"type":"string"},"lang":{"type":"string"}}},"CourseSyllabusResponse":{"type":"object","properties":{"id":{"type":"string"},"courseId":{"type":"string"},"shortDescription":{"type":"string"},"prerequirements":{"type":"string"},"learningOutcomes":{"type":"string"},"assessmentsInfo":{"type":"string"},"lang":{"type":"string"}}},"CourseProfileSp4euRequest":{"type":"object","properties":{"profileIds":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"CourseProfileResponse":{"type":"object","properties":{"id":{"type":"string"},"courseId":{"type":"string"},"profileId":{"type":"string"},"profilePublicId":{"type":"string"},"profileFirstName":{"type":"string"},"profileLastName":{"type":"string"},"profileEmails":{"type":"array","deprecated":true,"items":{"type":"string","deprecated":true}},"profileEmail":{"type":"string"},"profileDegree":{"type":"string"},"visible4eu":{"type":"boolean"},"isPubliclyVisible":{"type":"boolean"}}},"ProfileRequest":{"type":"object","properties":{"name":{"type":"string"},"firstName":{"type":"string"},"middleNames":{"type":"string"},"lastName":{"type":"string"},"emailsOther":{"type":"array","items":{"type":"string"},"uniqueItems":true},"email":{"type":"string"},"phone":{"type":"string"},"orcid":{"type":"string"},"uidPolon":{"type":"string"},"uidPolonStud":{"type":"string"},"uidPolonDokt":{"type":"string"},"pbnId":{"type":"string"},"scopusId":{"type":"string"},"degree":{"type":"string"},"cfKeyw":{"type":"array","items":{"type":"string"},"uniqueItems":true},"roles":{"type":"array","items":{"type":"string","enum":["STUDENT","STAFF","FACULTY","IT","GUEST"]},"uniqueItems":true},"isPubliclyVisible":{"type":"boolean"}}},"ProfileResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"firstName":{"type":"string"},"middleNames":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"emailsOther":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"personId":{"type":"string"},"orcid":{"type":"string"},"uidPolon":{"type":"string"},"uidPolonStud":{"type":"string"},"uidPolonDokt":{"type":"string"},"pbnId":{"type":"string"},"scopusId":{"type":"string"},"degree":{"type":"string"},"cfKeyw":{"type":"array","items":{"type":"string"}},"articleId":{"type":"string"},"scienceDisciplinesStatementDate":{"type":"string","format":"date"},"roles":{"type":"array","items":{"type":"string"}},"isPubliclyVisible":{"type":"boolean"},"profilePublicId":{"type":"string"}}},"PersonRoleRequest":{"type":"object","properties":{"personId":{"type":"string"},"role":{"type":"string","enum":["ADMIN","COURSE_MANAGER","COURSE_CERTIFICATE_MANAGER","HOUSING_OPTIONS_MANAGER","MOBILITY_OPTIONS_MANAGER","TUTORIAL_MANAGER","PERSON_MANAGER","PERSON_ROLE_MANAGER","REGISTRATION_MANAGER"]},"university":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}},"required":["personId","role"]},"HousingOptionsRequest":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"co":{"type":"string"},"street":{"type":"string"},"postcode":{"type":"string"},"city":{"type":"string"},"district":{"type":"string"},"countryCode":{"type":"string"},"size":{"type":"number","format":"double"},"accommodationType":{"type":"string","enum":["FAMILY","PRIVATE_APARTMENT","SHARED_APARTMENT"]},"bathroomType":{"type":"string","enum":["SHARED","PRIVATE_BATHROOM","PRIVATE_SHOWER","WASHBASIN"]},"kitchenType":{"type":"string","enum":["SHARED","PRIVATE","COOKING_FACILITIES"]},"furnitureType":{"type":"string","enum":["FURNISHED","PARTLY_FURNISHED","NOT_FURNISHED"]},"washingMachineType":{"type":"string","enum":["SHARED","PRIVATE","NO_WASHING"]},"connections":{"type":"array","items":{"type":"string","enum":["COST_INCLUDED","CONNECTION_PROVIDED"]},"uniqueItems":true},"distance":{"type":"string","enum":["LESS_5_MIN","APPROX_10","APPROX_15","APPROX_20","APPROX_30","APPROX_45","EQUAL_OR_MORE_60_MIN"]},"rent":{"type":"number"},"utilities":{"type":"number"},"totalRent":{"type":"number"},"deposit":{"type":"number"},"from":{"type":"string","format":"date"},"to":{"type":"string","format":"date"},"description":{"type":"string"},"remarks":{"type":"string"},"currencyCode":{"type":"string"},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"numberOfRoommates":{"type":"integer","format":"int32"},"attributes":{"type":"array","items":{"type":"string"}},"publish":{"type":"boolean"}}},"HousingOptionsResponse":{"type":"object","properties":{"id":{"type":"string"},"publicId":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"co":{"type":"string"},"street":{"type":"string"},"postcode":{"type":"string"},"city":{"type":"string"},"district":{"type":"string"},"countryCode":{"type":"string"},"size":{"type":"number","format":"double"},"accommodationType":{"type":"string","enum":["FAMILY","PRIVATE_APARTMENT","SHARED_APARTMENT"]},"bathroomType":{"type":"string","enum":["SHARED","PRIVATE_BATHROOM","PRIVATE_SHOWER","WASHBASIN"]},"kitchenType":{"type":"string","enum":["SHARED","PRIVATE","COOKING_FACILITIES"]},"furnitureType":{"type":"string","enum":["FURNISHED","PARTLY_FURNISHED","NOT_FURNISHED"]},"washingMachineType":{"type":"string","enum":["SHARED","PRIVATE","NO_WASHING"]},"connections":{"type":"array","items":{"type":"string","enum":["COST_INCLUDED","CONNECTION_PROVIDED"]},"uniqueItems":true},"numberOfRoommates":{"type":"integer","format":"int32"},"distance":{"type":"string","enum":["LESS_5_MIN","APPROX_10","APPROX_15","APPROX_20","APPROX_30","APPROX_45","EQUAL_OR_MORE_60_MIN"]},"rent":{"type":"number"},"utilities":{"type":"number"},"totalRent":{"type":"number"},"deposit":{"type":"number"},"from":{"type":"string","format":"date"},"to":{"type":"string","format":"date"},"description":{"type":"string"},"remarks":{"type":"string"},"currencyCode":{"type":"string"},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"publicationDate":{"type":"string","format":"date"},"personId":{"type":"string"},"attributes":{"type":"array","items":{"type":"string"}},"publish":{"type":"boolean"}}},"ArticleSp4euRequest":{"type":"object","properties":{"titlePl":{"type":"string"},"titleEn":{"type":"string"},"contentPl":{"type":"string"},"contentEn":{"type":"string"},"signification":{"type":"string"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"MobilityOptionAndArticleDto":{"type":"object","properties":{"mobilityOptionRequest":{"$ref":"#/components/schemas/MobilityOptionRequest"},"articleRequest":{"$ref":"#/components/schemas/ArticleSp4euRequest"}}},"AttachedFileResponse":{"type":"object","properties":{"fileId":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"}}},"DocumentPersonResponse":{"type":"object","properties":{"documentId":{"type":"string"},"files":{"type":"array","items":{"$ref":"#/components/schemas/AttachedFileResponse"}},"name":{"type":"string"},"created":{"type":"string","format":"date-time"},"personId":{"type":"string"},"university":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"type":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}},"CourseSp4euImportRequest":{"type":"object","properties":{"is4eu":{"type":"boolean"},"publicationDate":{"type":"string","format":"date"},"courseCode":{"type":"string"},"name":{"type":"string"},"semesterCode":{"type":"string"},"languages":{"type":"array","items":{"type":"string"}},"url":{"type":"string"},"providedBy":{"type":"array","items":{"type":"string"}},"publishedBy":{"type":"string"},"year":{"type":"integer","format":"int32"},"academicYear":{"type":"string"},"ects":{"type":"number","format":"double"},"teachingMode":{"type":"string"},"placesLimit":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"applicationDeadline":{"type":"string","format":"date"},"levels":{"type":"array","items":{"type":"string"}},"instructorsEmails":{"type":"array","items":{"type":"string"}},"areasOfInterests":{"type":"array","items":{"type":"string"}},"flagships":{"type":"array","items":{"type":"string"}},"facultyOrUnit":{"type":"string"},"sharedCompetencies":{"type":"array","items":{"type":"string"}},"learningPathways":{"type":"array","items":{"type":"string"}},"syllabusShortDescription0":{"type":"string"},"syllabusAssessmentsInfo0":{"type":"string"},"syllabusLearningOutcomes0":{"type":"string"},"syllabusPrerequirements0":{"type":"string"},"syllabusLanguageCode0":{"type":"string"},"coursesRegistrationId":{"type":"string"}}},"AbstractResponse":{"type":"object","properties":{"id":{"type":"string"},"langCode":{"type":"string"},"title":{"type":"string"},"abstr":{"type":"string"},"keyw":{"type":"array","items":{"type":"string"}},"orderIndex":{"type":"integer","format":"int32"},"objectId":{"type":"string"},"objectType":{"type":"string"},"original":{"type":"boolean"}}},"CourseSp4euImportResponse":{"type":"object","properties":{"course":{"$ref":"#/components/schemas/CourseSp4euResponse"},"courseRegistrationInfo":{"$ref":"#/components/schemas/CourseRegistrationInfoResponse"},"abstracts":{"type":"array","items":{"$ref":"#/components/schemas/AbstractResponse"}},"courseProfiles":{"type":"array","items":{"$ref":"#/components/schemas/CourseProfileResponse"}},"courseSyllabuses":{"type":"array","items":{"$ref":"#/components/schemas/CourseSyllabusResponse"}}}},"GitProperties":{"type":"object","properties":{"branch":{"type":"string"},"shortCommitId":{"type":"string"},"commitTime":{"type":"string","format":"date-time"},"commitId":{"type":"string"}}},"BuildProperties":{"type":"object","properties":{"name":{"type":"string"},"time":{"type":"string","format":"date-time"},"version":{"type":"string"},"group":{"type":"string"},"artifact":{"type":"string"}}},"DefaultSaml2AuthenticatedPrincipal":{"type":"object","properties":{"name":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object"}}},"sessionIndexes":{"type":"array","items":{"type":"string"}},"relyingPartyRegistrationId":{"type":"string"}}},"EdugainPrincipal":{"type":"object","properties":{"personId":{"type":"string"},"eduPersonPrincipalName":{"type":"string"},"mail":{"type":"string"},"displayName":{"type":"string"},"givenName":{"type":"string"},"sn":{"type":"string"},"eduPersonAffiliation":{"type":"array","items":{"type":"string"}},"schacHomeOrganization":{"type":"string"},"lastLoginTime":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"university":{"type":"string"}}},"DocumentResponse":{"type":"object","properties":{"documentId":{"type":"string"},"files":{"type":"array","items":{"$ref":"#/components/schemas/AttachedFileResponse"}},"name":{"type":"string"},"created":{"type":"string","format":"date-time"},"type":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}},"OdataResponseQueryTutorialItemSp4euResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/QueryTutorialItemSp4euResponse"}},"totalCount":{"type":"integer","format":"int32"}}},"QueryTutorialItemSp4euResponse":{"type":"object","properties":{"tutorialId":{"type":"string"},"tutorialCode":{"type":"string"},"isPublished":{"type":"boolean"},"providedBy":{"type":"array","items":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]}},"publishedBy":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"creationTime":{"type":"string"},"title":{"type":"string"},"category":{"type":"string","enum":["SelfOrganization","OnlineLearning","CulturalAwareness","GroupDynamics","HandlingConflicts"]},"languages":{"type":"array","items":{"type":"string"}},"level":{"type":"string","enum":["BASIC","MEDIUM","ADVANCED"]},"duration":{"type":"string"},"url":{"type":"string"},"isFree":{"type":"boolean"},"description":{"type":"string"},"cfTitle":{"type":"string","deprecated":true},"cfKeyw":{"type":"array","deprecated":true,"items":{"type":"string","deprecated":true}}}},"OdataResponseQueryProfileItemResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/QueryProfileItemResponse"}},"totalCount":{"type":"integer","format":"int32"}}},"QueryProfileItemResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"firstName":{"type":"string"},"middleNames":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"emailsOther":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"personId":{"type":"string"},"orcid":{"type":"string"},"uidPolon":{"type":"string"},"uidPolonStud":{"type":"string"},"uidPolonDokt":{"type":"string"},"pbnId":{"type":"string"},"scopusId":{"type":"string"},"degree":{"type":"string"},"cfKeyw":{"type":"array","items":{"type":"string"}},"articleId":{"type":"string"},"scienceDisciplinesStatementDate":{"type":"string","format":"date"},"roles":{"type":"array","items":{"type":"string"}},"isPubliclyVisible":{"type":"boolean"},"profilePublicId":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"profileRoles":{"type":"array","items":{"type":"string"}},"keyw":{"type":"array","items":{"type":"string"}},"units":{"type":"array","items":{"type":"string"}},"unitsAll":{"type":"array","items":{"type":"string"}},"scienceDisciplines":{"type":"array","items":{"type":"string"}},"patentsCount":{"type":"integer","format":"int64"},"projectsCount":{"type":"integer","format":"int64"},"coursesCount":{"type":"integer","format":"int64"},"publicationsCount":{"type":"integer","format":"int64"},"promotedPublicationsCount":{"type":"integer","format":"int64"}}},"PersonRoleResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"personId":{"type":"string"},"role":{"type":"string","enum":["ADMIN","COURSE_MANAGER","COURSE_CERTIFICATE_MANAGER","HOUSING_OPTIONS_MANAGER","MOBILITY_OPTIONS_MANAGER","TUTORIAL_MANAGER","PERSON_MANAGER","PERSON_ROLE_MANAGER","REGISTRATION_MANAGER"]},"university":{"type":"string","enum":["CUNI","UAH","SU","KU","UNIMI","UW","UNIGE","PARIS_2"]},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}},"OdataResponsePersonResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PersonResponse"}},"totalCount":{"type":"integer","format":"int32"}}},"PersonResponse":{"type":"object","properties":{"personId":{"type":"string"},"university":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"lastLoginTime":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"OdataResponseMobilityOptionResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MobilityOptionResponse"}},"totalCount":{"type":"integer","format":"int32"}}},"OdataResponseHousingOptionsResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/HousingOptionsResponse"}},"totalCount":{"type":"integer","format":"int32"}}},"HousingOptionFileResponse":{"type":"object","properties":{"housingOptionFileId":{"type":"string"},"housingOptionId":{"type":"string"},"fileId":{"type":"string"},"extension":{"type":"string"},"name":{"type":"string"},"uploadedDate":{"type":"string"}}},"OdataResponseCourseSp4euResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CourseSp4euResponse"}},"totalCount":{"type":"integer","format":"int32"}}}},"securitySchemes":{"Authorization":{"type":"apiKey","name":"Authorization","in":"header"}}}}